<div class="container body-container">
 <div class="row">
   <div class="col-md-12">


 <div clas  s="card">
   <img class="card-img-top" src="assets/images/1c.JPG" alt="Card image cap">
 </div>
 </div>
 </div>   
</div>

 <section>
  <div class="container">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link" routerLink="about">About</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" routerLink="destination">Destination</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="contact">Contact Us</a>
          </li>
        </ul>
  </div>
</section>

<router-outlet></router-outlet>
<h3 class="pil">Pilgrimage Tour Packages</h3> 

 <div class="container">
<div class="row">

<div class="col-md-3">

    <div class="card card-pricing">
      <div class="content">
        <h6 class="category text-gray">Basic</h6>
        <div class="icon icon-info">
          <i class="material-icons">people</i>
        </div>
        <h3 class="card-title">&#8377;2,000</h3>
        <p class="card-description">
          Tourist guide + Schedule planner.
        </p>
       <div class="for">
        <a href="#" class="btn">Choose Plan</a>
       </div>
      </div>
    </div>
  </div>

  <div class="col-md-3">
      <div class="card card-pricing">
        <div class="content">
          <h6 class="category text-gray">Silver</h6>
          <div class="icon icon-info">
            <i class="material-icons">people</i>
          </div>
          <h3 class="card-title">&#8377;3,500</h3>
          <p class="card-description">
              Tourist guide + Schedule planner.
          </p>
          <div class="for">
          <a href="#" class="btn">Choose Plan</a>
         </div>
        </div>
      </div>
    </div>

    <div class="col-md-3">
        <div class="card card-pricing">
          <div class="content">
            <h6 class="category text-gray">Bronze</h6>
            <div class="icon icon-info">
              <i class="material-icons">people</i>
            </div>
            <h3 class="card-title">&#8377;5,000</h3>
            <p class="card-description">
                Tourist guide + Schedule planner.
            </p>
            <div class="for">
            <a href="#" class="btn">Choose Plan</a>
           </div>
          </div>
        </div>
      </div>

      <div class="col-md-3">
          <div class="card card-pricing">
            <div class="content">
              <h6 class="category text-gray">Gold</h6>
              <div class="icon icon-info">
                <i class="material-icons">people</i>
              </div>
              <h3 class="card-title">&#8377;7,000</h3>
              <p class="card-description">
                  Tourist guide + Schedule planner .
              </p>
              <div class="for">
              <a href="#" class="btn">Choose Plan</a>
             </div>
            </div>
          </div>
        </div>
      </div>
    </div>
       <h3>Popular places</h3>
       <div class="container">
       <div class="row">
         <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
           <div class="card" >
               <img class="card-img-top"  src="assets/img/p1.jpg" alt=" Image">
               <div class="card-block">
                 <h4 class="card-title">Hindu Pilgrimage Tour</h4>
                 <p class="card-text">Duration: 15 Nights - 16 Days 
                     Delhi,Mathura,Agra,Ayodhya,Varanasi,Allahabad,Chittrakoot,Khajuraho</p>
                 
               </div>
             </div>
           </div>
           <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
               <div class="card">
                   <img class="card-img-top" src="assets/img/p2.jpg" alt=" Image">
                   <div class="card-block">
                     <h4 class="card-title">The Land of Lord Krishna</h4>
                     <p class="card-text">Duration: 05 Nights - 06 Days 
                         Delhi,Mathura,Gokul,Mahavan,Goverdhan,Nand Goan,Barsana,Agra.</p>
                     
                   </div>
                 </div>
               </div>
               <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4   ">
                   <div class="card" >
                       <img class="card-img-top" src="assets/img/p3.jpg" alt=" Image">
                       <div class="card-block">
                         <h4 class="card-title">South India Temples Tour</h4>
                         <p class="card-text">Duration: 11 Nights - 12 Days 
                             Chennai,Tirupati,Kanchipuram,Mamallapooram,Tiruvannamalai,Pondicherry</p>
                         
                       </div>
                     </div>
                   </div>
       </div>
       <div class="row">
           <div class="col-md-4">
             <div class="card" >
                 <img class="card-img-top"  src="assets/img/p4.jpg" alt=" Image">
                 <div class="card-block">
                   <h4 class="card-title"> Mahabalipuram</h4>
                   <p class="card-text">Duration: 06 Nights - 07 Days 
                       Delhi,Haridwar,Barkot,Yamunotri,Uttarkashi,Gangotri,Uttarkashi,Rishikesh</p>
             
                 </div>
               </div>
             </div>
             <div class="col-md-4">
                 <div class="card">
                     <img class="card-img-top" src="assets/img/p5.jpg" alt=" Image">
                     <div class="card-block">
                       <h4 class="card-title">Kandariya Temple</h4>
                       <p class="card-text">Duration: 07 Nights - 08 Days 
                           Delhi,Haridwar,Guptkashi,Sonprayag,Kedarnath,Gaurikund,Rudrapryag.</p>
                       
                     </div>
                   </div>
                 </div>
                 <div class="col-md-4">
                     <div class="card">
                         <img class="card-img-top" src="assets/img/p6.jpg" alt=" Image">
                         <div class="card-block">
                           <h4 class="card-title">Tungnath Temple</h4>
                           <p class="card-text">Duration: 12 Nights - 13 Days 
                               Kathmandu,Pshupatinath,Zhangmu,Nylam,Saga,Mansarovar.</p>
                           
                         </div>
                       </div>
                     </div>
         </div>
 </div>
 
 
 
 
 