<!-- <div class="container"> -->
<!-- Navbar end -->
<app-header></app-header>

<!-- <app-header [isScrolled] = isScrolled [ngClass]= "{'page-scroll-header': isScrolled}"></app-header> -->


<flash-messages></flash-messages> 
<router-outlet></router-outlet>
<!-- </div> -->


 <!-- footer    -->
 <!-- <div class="container-fluid sra ">
  <div class="container">
      <div class="row foot">
          <div class="col-md-5"></div>
          <div class="col-md-2">
              <footer class="row h-100 justify-content-center">All&nbsp;&#169;&nbsp;rights&nbsp;are&nbsp;Reserved&nbsp;@Lakshya</footer>
          </div>
          <div class="col-md-5"></div>
      </div>
  </div>
</div> -->

 