<div class="container body-container">
    <div class="col-lg-12 col-sm-12 col-xs-12">
    <a routerLink="/onlinecourses/content/contentaccess/astrocourse"><h2>Module1</h2></a>
    
    <h3 class="text-center" id="zod">Astrology</h3>

    <h5>About the Course</h5>
        <p>
            Have you ever heard about such technologies as HDFS, MapReduce, Spark? Always wanted to  learn these new tools but missed concise starting material? Don’t miss this course either!

            In this 6-week course you will:
            - learn some basic technologies of th... more
        </p>
        <p>
            Have you ever heard about such technologies as HDFS, MapReduce, Spark? Always wanted to  learn these new tools but missed concise starting material? Don’t miss this course either!

            In this 6-week course you will:
            - learn some basic technologies of th... more
        </p>

    <hr>
    <br>

    <a routerLink="/onlinecourses/content/contentaccess/numerocourse"><h2>Module2</h2></a>

    <h3 class="text-center" id="zod">Numerology</h3>

    <h5>About the Course</h5>
        <p>
            Have you ever heard about such technologies as HDFS, MapReduce, Spark? Always wanted to  learn these new tools but missed concise starting material? Don’t miss this course either!

            In this 6-week course you will:
            - learn some basic technologies of th... more
        </p>
        <p>
            Have you ever heard about such technologies as HDFS, MapReduce, Spark? Always wanted to  learn these new tools but missed concise starting material? Don’t miss this course either!

            In this 6-week course you will:
            - learn some basic technologies of th... more
        </p>

    <hr>
    <br>   

    <a routerLink="/onlinecourses/content/contentaccess/reikicourse"><h2>Module3</h2></a>

    <h3 class="text-center" id="zod">Reiki</h3>

    <h5>About the Course</h5>
        <p>
            Have you ever heard about such technologies as HDFS, MapReduce, Spark? Always wanted to  learn these new tools but missed concise starting material? Don’t miss this course either!

            In this 6-week course you will:
            - learn some basic technologies of th... more
        </p>
        <p>
            Have you ever heard about such technologies as HDFS, MapReduce, Spark? Always wanted to  learn these new tools but missed concise starting material? Don’t miss this course either!

            In this 6-week course you will:
            - learn some basic technologies of th... more
        </p>

    <hr>
    <br> 
    <a routerLink="/onlinecourses/content/contentaccess/palmcourse">
    <h2>Module4</h2></a>
    <h3 class="text-center" id="zod">Palmhistry</h3>

    <h5>About the Course</h5>
        <p>
            Have you ever heard about such technologies as HDFS, MapReduce, Spark? Always wanted to  learn these new tools but missed concise starting material? Don’t miss this course either!

            In this 6-week course you will:
            - learn some basic technologies of th... more  
        </p>
        <p>
            Have you ever heard about such technologies as HDFS, MapReduce, Spark? Always wanted to  learn these new tools but missed concise starting material? Don’t miss this course either!

            In this 6-week course you will:
            - learn some basic technologies of th... more
        </p>

    <hr>
    <br>

    <a routerLink="/onlinecourses/content/contentaccess/vasthucourse"><h2>Module5</h2></a>
    
    <h3 class="text-center" id="zod">Vasthu</h3>

    <h5>About the Course</h5>
        <p>
            Have you ever heard about such technologies as HDFS, MapReduce, Spark? Always wanted to  learn these new tools but missed concise starting material? Don’t miss this course either!

            In this 6-week course you will:
            - learn some basic technologies of th... more
        </p>
        <p>
            Have you ever heard about such technologies as HDFS, MapReduce, Spark? Always wanted to  learn these new tools but missed concise starting material? Don’t miss this course either!

            In this 6-week course you will:
            - learn some basic technologies of th... more
        </p>

    </div>
</div>



