.body-container{
    margin-top:130px;
}
h1{
    margin-left:41%;
    margin-bottom: 20px;
}
.new{
    margin-left: 45%;
}

#sub{
    text-align:center;
    padding-bottom: 30px;
}
#ui{
    margin-left: 130px;
}
#talk{
    padding-top: 30px;
}

#hello{
    margin: auto;float: none;
}

.carousel-inner img {
    width: 75%;
    height: 50%;
}
/* .text-center{
    padding-right: 370px;
} */
#bus{
    /* margin-left: -15px; */
    width: 100%;
    
}

h6{
    text-align: justify;
}

#new1{
   
    /*background-color: lightblue;*/
    /* height: 200px; */
    /* width: 50%; */
    margin-top: 50px;
    
  }
  

  #zod1{
    margin-top: 5px;
    /* margin-bottom: 25px; */
    margin-right: 30px;
    /* font-family: 'Lobster', cursive;
font-family: 'Great Vibes', cursive;
font-family: 'Berkshire Swash', cursive; */

  }
  .new3{
    padding-right: 150px;
    color: black;

  }
  .new4{
    padding-left: 150px;
    color: black;

  }
  .new{
padding-top:350px;
  }


  #zod{
    margin-top: 50px;
    margin-bottom: 25px;
    /* font-family: 'Lobster', cursive;
font-family: 'Great Vibes', cursive;
font-family: 'Berkshire Swash', cursive; */

  }
  

  .place{
    text-align: justify;
}
#by{
    margin-bottom: 30px;
    margin-top: 60px;
    /* margin-left: 50px; */
}
.cour{
    margin-top: 40px;
}

#demo{
    padding-top: 50px;
  }

  #space{
    /* padding-left: 100px;
     */
     margin:auto;
     /* margin-left: 0px; */
     /* margin-right: 0px; */
  }
  
  #style{
    border:2px dashed orange;
  }

  a:link{
    text-decoration: none;
    
}
/* .pad{
    padding-left:200px;
  } */
  div.scrollmenu {
    /* background-color: #333; */
    overflow: auto;
    white-space: nowrap;
}

div.scrollmenu a {
    display: inline-block;
    /* color: white; */
    margin-left: 30px;
    text-align: center;
    padding: 14px 100px;
    text-decoration: none;
}

/* div.scrollmenu a:hover {
    background-color: #777;
} */

@media only screen and (max-width: 500px) {
    div.scrollmenu a {
        display: inline-block;
        /* color: white; */
        text-align: center;
        padding: 14px 30px;
        text-decoration: none;
    }
}
/* @media(max-width: 938px) {

    body  .help1{
    margin-top: 100px;
    }
    
    } */

 
