<div class="container body-container">
        <hr id="style">
        <div class="scrollmenu">
                <a routerLink="/onlinecourses/livelecturers" >Live Lectures</a>
                <a routerLink="/onlinecourses/learnatdevotee" >Learn At Devotee</a>
                <a routerLink="/onlinecourses/content">Content Access</a>
        </div>

        <!-- <table class="table-responsive">
            <tr >
                <td class="pad"> <a>Live Lectures</a></td>
                <td class="pad"> <a routerLink="/onlinecourses/learnatdevotee" >Learn At Devotee</a></td>
                <td class="pad"><a routerLink="/onlinecourses/content" >Content Access</a></td>
                
            </tr>
        
        </table> -->
<!-- 
            <div class="row">
                <a  >Live Lectures</a>
                <a routerLink="/learn" >Learn At Devotee</a>
                <a routerLink="/content" >Content Access</a>
              
            </div> -->
            
      <hr id="style">
        <h3 class="text-center" id="zod">Live Lectures</h3>
    <div class="row">
        <p>Whether you're a zodiac beginner looking for a free birth chart or a pro searching for answers to life's toughest questions, we are here to help you connect the dots - no matter your zodiac sign. Bursting with information on all the astrological signs, love compatibility info, free tarot readings, in-depth astrology reports and up-to-the-minute suggestions
            Whether you're a zodiac beginner looking for a free birth chart or a pro searching for answers to life's toughest questions, we are here to help you connect the dots - no matter your zodiac sign. Bursting with information on all the astrological signs, love compatibility info, free tarot readings, in-depth astrology reports and up-to-the-minute suggestions
            pro searching for answers to life's toughest questions
        </p>
    </div> 
</div>

<div class="container">
    <div id="demo" class="carousel slide" data-ride="carousel">
            <ul class="carousel-indicators">
                    <li data-target="#demo" data-slide-to="0" class="active"></li>
                    <li data-target="#demo" data-slide-to="1"></li>
                    <li data-target="#demo" data-slide-to="2"></li>
                  </ul>
         
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="row">

                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 text-center text-xs-center">
                    <img src="assets\images\dummy.png" alt="Los Angeles">
                    <h5 class="col-xs-12 text-center text-xs-center " id="zod1">Name
                            <br> Astrology
                            
                    </h5>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 text-center text-xs-center" id="new1">
                        <!-- <h6>Name</h6> -->
                    <h6>Bootstrap includes HTML and CSS based design templates for typography, forms, buttons, tables, navigation, modals, image carousels and many other, as well as optional JavaScript plugins.
                    Bootstrap includes HTML and CSS.</h6>
                    </div>
        
                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 text-center text-xs-center">
                    <img src="assets\images\dummy.png" alt="Los Angeles">
                    <h5 class="col-xs-12 text-center text-xs-center " id="zod1">Name
                            <br> Astrology
                            
                    </h5>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 text-center text-xs-center" id="new1">
                    <h6> Bootstrap includes HTML and CSS based design templates for typography, forms, buttons, tables, navigation, modals, image carousels and many other, as well as optional JavaScript plugins
                    Bootstrap includes HTML and CSS.</h6>
                    </div>
         
                </div>
            </div>


            <div class="carousel-item">
                    <div class="row">
    
                        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 text-center text-xs-center">
                        <img src="assets\images\dummy.png" alt="Los Angeles">
                        <h5 class="col-xs-12 text-center text-xs-center " id="zod1">Name
                                <br> Astrology
                                
                        </h5>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 text-center text-xs-center" id="new1">
                        <h6>Bootstrap includes HTML and CSS based design templates for typography, forms, buttons, tables, navigation, modals, image carousels and many other, as well as optional JavaScript plugins.
                        Bootstrap includes HTML and CSS.</h6>
                        </div>
            
                        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 text-center text-xs-center">
                        <img src="assets\images\dummy.png" alt="Los Angeles">
                        <h5 class="col-xs-12 text-center text-xs-center " id="zod1">Name
                                <br> Astrology
                                
                        </h5>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 text-center text-xs-center" id="new1">
                        <h6>Bootstrap includes HTML and CSS based design templates for typography, forms, buttons, tables, navigation, modals, image carousels and many other, as well as optional JavaScript plugins
                        Bootstrap includes HTML and CSS.</h6>
                        </div>
             
                    </div>
            </div>


            <div class="carousel-item">
                <div class="row">

                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 text-center text-xs-center ">
                    <img src="assets\images\dummy.png" alt="Los Angeles">
                    <h5 class="col-xs-12 text-center text-xs-center " id="zod1">Name
                            <br> Astrology
                            
                    </h5>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 text-center text-xs-center" id="new1">
                    <h6>Bootstrap includes HTML and CSS based design templates for typography, forms, buttons, tables, navigation, modals, image carousels and many other, as well as optional JavaScript plugins.
                    Bootstrap includes HTML and CSS.</h6>
                    </div>
        
                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 text-center text-xs-center">
                    <img src="assets\images\dummy.png" alt="Los Angeles">
                    <h5 class="col-xs-12 text-center text-xs-center " id="zod1">Name
                            <br> Astrology
                            
                    </h5>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 text-center text-xs-center" id="new1">
                       <h6> Bootstrap includes HTML and CSS based design templates for typography, forms, buttons, tables, navigation, modals, image carousels and many other, as well as optional JavaScript plugins
                    Bootstrap includes HTML and CSS.</h6>
                    </div>
         
                </div>
        </div>
    </div>
    </div> 

    
</div>

 <script>
    $(document).ready(function(){
        // Activate Carousel
        $(".#demo").carousel();
        
        // Enable Carousel Indicators
        $(".carousel-item1").click(function(){
            $("#demo").carousel(0);
        });
        $(".carousel-item2").click(function(){
            $("#demo").carousel(1);
        });
    });
    </script>

<!-- <script>
$('.carousel').carousel({
    interval: 9000
  })
</script> -->

 

<section>
        <div class="container mydiv cour">
                <h3 class="text-center" id="zod">Live</h3>
            <div class="row">
                <div class="col-md-6 col-sm-12 col-lg-6 col-xs-12">
                    <img src="assets/images/Letter.jpg" class="rounded-circle " id="by">
                    <p class="place">To enrol best of engineers, computer and  
                        electronics graduates, Vector Institute is the only one institute 
                        that conducts campus-based entrance test All over India (25 cities)
                        in every three months.
</p>
                </div>
    
                <div class="col-md-6 col-sm-12 col-lg-6 col-xs-12">
                        <!-- <h3 class="text-center" id="zod">Learn</h3> -->
                        <div class="row help">
                            <div class="col-md-2">
                                
                            </div>
                    
                            <div class="col-md-8" id="hello">
                                <div class="uploadform">
                                    <form action="#">
                                        
                                            <div class="row" id="talk">
                                                <div class="col-md-12">
                                                      <div class="form-group">
                                                      <label>Full Name:</label>
                                                      <input type="text" class="form-control" required>
                                                      </div>
                                                </div>
                                            </div>
                    
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <label>Email Id:</label>
                                                    <div class="form-group">
                                                          <input type="email" class="form-control" required>       
                                                    </div>
                                                </div>
                                            </div>
                    
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <label>Mobile no:</label>
                                                    <div class="form-group">
                                                          <input type="text" class="form-control" required>       
                                                    </div>
                                                </div>
                                            </div>
                                            
                                            <div class="row">
                                            <div class="col-md-12">
                                                <!-- <div class="form-group" id="horo"> -->
                                                    <label id="bus">Services:</label>
                                                        <select class="form-control" id="bus">
                                                                <option value="">Select Your Service</option>
                                                                <option value="1">Horoscope</option>
                                                                <option value="3">Astrology</option>
                                                                <option value="2">Numerology</option>
                                                                <option value="4">Vasthu</option>
                                                                <option value="5">Reiki</option>
                                                                <option value="6">Palmistry</option>
                                                        </select>
                                                <!-- </div> -->
                                            </div>
                                            </div>
                    
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                          <label>Comments:</label>
                                                          <textarea class="form-control" cols="4" rows="2" required></textarea>
                                                    </div>
                                                </div>  
                                            </div>
                    
                                            <div class="row">
                                                <div class="col-md-12"> 
                                                    <div class="form-group" id="ui">
                                                          <input type="submit" class="btn btn-primary">
                                                    </div>
                                                </div>
                                            </div>
                                    </form>
                                </div>
                            </div>
                    
                            <!-- <div class="col-md-4">
                                
                            </div> -->
                    
                        </div>
                </div>
            </div>
        </div>
    </section>
    
