<div class="container body-container">
    <hr id="style">
    <table class="table-responsive">
            <tr>
                <td class="pad"> <a routerLink="/astroservices/horoscope"  >Horoscope</a></td>
                <td class="pad"> <a >Astrology</a></td>
                <td class="pad"> <a routerLink="/astroservices/numerology" >Numerology</a></td>
                <td class="pad"> <a routerLink="/astroservices/vasthu" >Vasthu</a></td>
                <td class="pad"> <a routerLink="/astroservices/reiki" >Reiki</a></td>
                <td class="pad"> <a routerLink="/astroservices/palmistry" >Palmistry</a></td>
            </tr>
    
        </table>
        
            <!-- <div class="row" id="new1">
                <a routerLink="/horoscope/horoscope" >Horoscope</a>
                <a >Astrology</a>
                <a routerLink="/numerology" >Numerology</a>
                <a routerLink="/vasthu" >Vasthu</a>
                <a routerLink="/reiki" >Reiki</a>
                <a routerLink="/palmistry" >Palmistry</a>
            </div> -->
            
    <hr id="style">

   <h3 class="text-center" id="zod">Astrology</h3><br>
  
        <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 text-center text-xs-center">
            <img src="assets/img/h1.jpg" class="img img-fluid">
            </div>

            <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12" >
                <p>Indian Astrology is also known as Indian Vedic Astrology or Vedic Astrology.
                Vedic Astrology can be defined as the science explains in details the planetary
                movements and positions in respect to day and time, and their effects on 12 zodiac 
                signs that influence the personality traits of humans. In short, it depends on the 
                correct positions of the zodiacal fixed sun signs in regards to the place/location on
                the earth at given point of time.The term Jyotish means the science of light. 
                It is very apt as Vedic astrology deals in astral light patterns that reflect our 
                destiny and future.
                </p> 
            </div>
        </div>


    <h3 class="text-center" id="zod">Free Astrology Reading By Zodiac Signs</h3>
        <ul class="nav nav-tabs nav-fill" id="myTab1" role="tablist">
                <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#one" role="tab"><img src="assets\images\1.png" alt="img2"></a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#two" role="tab"><img src="assets\images\2.png" alt="img2"></a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#three" role="tab"><img src="assets\images\3.png" alt="img2"></a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#four" role="tab"><img src="assets\images\4.png" alt="img2"></a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#five" role="tab"><img src="assets\images\5.png" alt="img2"></a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#six" role="tab"><img src="assets\images\6.png" alt="img2"></a> 
                        </li>
                        <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#seven" role="tab"><img src="assets\images\7.png" alt="img2"></a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#eight" role="tab"><img src="assets\images\8.png" alt="img2"></a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#nine" role="tab"><img src="assets\images\9.png" alt="img2"></a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#ten" role="tab"><img src="assets\images\10.png" alt="img2"></a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#eleven" role="tab"><img src="assets\images\11.png" alt="img2"></a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#twelve" role="tab"><img src="assets\images\12.png" alt="img2"></a>
                        </li>
          </ul>
          <div class="tab-content" id="myTabContent">
                <div class="tab-pane active" id="one" role="tabpanel"><P>Aries is the first or head of signs of the Zodiac. 
                    It starts at Vernal Equinox and extends up to 30 degrees. Fiery by nature, cardinal and positive, Aries
                     is a sign of short ascension. Sign Aries is also termed as bestial and sterile. It is an oriental sign 
                     denoting the beginning of the right ascension.</P></div>
                <div class="tab-pane" id="two" role="tabpanel"><p>Taurus is the second sign of the Zodiac. It starts from 30 degrees of Vernal Equinox and extends up to 60 degrees. Earthy by nature, fixed and feminine, Taurus is a sign of short ascension. Sign Taurus is also termed as bestial and semi fruitful. Steady, practical and creative, Sign Taurus is known as the builder of Zodiac.</p></div>
                <div class="tab-pane" id="three" role="tabpanel"><p>Gemini is the third sign of the Zodiac. It starts from 60th degree of Vernal Equinox and extends up to 90 degrees. Airy by nature, mutable and masculine, Gemini is a sign of short ascension. Sign Gemini is also termed as barren and also known to be expander of the Zodiac</p></div>
                <div class="tab-pane" id="four" role="tabpanel"><p>Cancer is the fourth sign of the Zodiac. It starts from 90th degree of Vernal Equinox and extends up to 120 degrees. Watery by nature, movable and feminine, Cancer is a sign of Long ascension. Sign Cancer is also termed as mute as well as fruitful.</p> </div>
                <div class="tab-pane" id="five" role="tabpanel"><p>Leo is the fifth sign of the Zodiac. It starts from 120th degree of Vernal Equinox and extends up to 150 degrees. Fiery by nature, fixed and masculine, Leo is a sign of Long ascension. Sign Leo is also termed as hot, dry, bestial and barren sign</p></div>
                <div class="tab-pane" id="six" role="tabpanel"><p>Taurus is the second sign of the Zodiac. It starts from 30 degrees of Vernal Equinox and extends up to 60 degrees. Earthy by nature, fixed and feminine, Taurus is a sign of short ascension. Sign Taurus is also termed as bestial and semi fruitful. Steady, practical and creative, Sign Taurus is known as the builder of Zodiac.</p></div>
                <div class="tab-pane" id="seven" role="tabpanel"><p>Gemini is the third sign of the Zodiac. It starts from 60th degree of Vernal Equinox and extends up to 90 degrees. Airy by nature, mutable and masculine, Gemini is a sign of short ascension. Sign Gemini is also termed as barren and also known to be expander of the Zodiac</p></div>
                <div class="tab-pane" id="eight" role="tabpanel"><p>Cancer is the fourth sign of the Zodiac. It starts from 90th degree of Vernal Equinox and extends up to 120 degrees. Watery by nature, movable and feminine, Cancer is a sign of Long ascension. Sign Cancer is also termed as mute as well as fruitful.</p> </div>
                <div class="tab-pane" id="nine" role="tabpanel"><p>Leo is the fifth sign of the Zodiac. It starts from 120th degree of Vernal Equinox and extends up to 150 degrees. Fiery by nature, fixed and masculine, Leo is a sign of Long ascension. Sign Leo is also termed as hot, dry, bestial and barren sign</p></div>
                <div class="tab-pane" id="ten" role="tabpanel"><p>Taurus is the second sign of the Zodiac. It starts from 30 degrees of Vernal Equinox and extends up to 60 degrees. Earthy by nature, fixed and feminine, Taurus is a sign of short ascension. Sign Taurus is also termed as bestial and semi fruitful. Steady, practical and creative, Sign Taurus is known as the builder of Zodiac.</p></div>
                <div class="tab-pane" id="eleven" role="tabpanel"><p>Gemini is the third sign of the Zodiac. It starts from 60th degree of Vernal Equinox and extends up to 90 degrees. Airy by nature, mutable and masculine, Gemini is a sign of short ascension. Sign Gemini is also termed as barren and also known to be expander of the Zodiac</p></div>
                <div class="tab-pane" id="twelve" role="tabpanel"><p>Cancer is the fourth sign of the Zodiac. It starts from 90th degree of Vernal Equinox and extends up to 120 degrees. Watery by nature, movable and feminine, Cancer is a sign of Long ascension. Sign Cancer is also termed as mute as well as fruitful.</p> </div>
             </div>
          

    <h3 class="text-center" id="zod">Get Your Daily Astrology</h3>
            <!-- <div class="space"> -->
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-lg-3">
                        <label>Date:</label>
                            <div class="form-group">
                                <select class="single form-control footer_select month">
                                    <option>DD</option>
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                    <option>6</option>
                                    <option>7</option>
                                    <option>8</option>
                                    <option>9</option>
                                    <option>10</option>
                                    <option>11</option>
                                    <option>12</option>
                                    <option>13</option>
                                    <option>14</option>
                                    <option>15</option>
                                    <option>16</option>
                                    <option>17</option>
                                    <option>18</option>
                                    <option>19</option>
                                    <option>20</option>
                                    <option>21</option>
                                    <option>22</option>
                                    <option>23</option>
                                    <option>24</option>
                                    <option>25</option>
                                    <option>26</option>
                                    <option>27</option>
                                    <option>28</option>
                                    <option>29</option>
                                    <option>30</option>
                                    <option>31</option>
                                </select>                           
                            </div>
                    </div>

            <div class="col-xs-12 col-sm-6 col-lg-3">
                <label>Month:</label>
                            <div class="form-group">
                                <select class="single form-control footer_select month">
                                    <option>MM</option>
                                    <option>January</option>
                                    <option>Febuary</option>
                                    <option>March</option>
                                    <option>April</option>
                                    <option>May</option>
                                    <option>June</option>
                                    <option>July</option>
                                    <option>August</option>
                                    <option>September</option>
                                    <option>November</option>
                                    <option>December</option>
                                </select>             
                            </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-lg-3">
                <label>Year:</label>
                            <div class="form-group">
                                <select class="single form-control footer_select month">
                                    <option>YYYY</option>
                                    <option>1970</option>
                                    <option>1971</option>
                                    <option>1972</option>
                                    <option>1973</option>
                                    <option>1974</option>
                                    <option>1975</option>
                                    <option>1976</option>
                                    <option>1977</option>
                                    <option>1978</option>
                                    <option>1979</option>
                                    <option>1980</option>
                                    <option>1981</option>
                                    <option>1982</option>
                                    <option>1983</option>
                                    <option>1984</option>
                                    <option>1985</option>
                                    <option>1986</option>
                                    <option>1987</option>
                                    <option>1988</option>
                                    <option>1989</option>
                                    <option>1990</option>
                                    <option>1991</option>
                                    <option>1992</option>
                                    <option>1993</option>
                                    <option>1994</option>
                                    <option>1995</option>
                                    <option>1996</option>
                                    <option>1997</option>
                                    <option>1998</option>
                                    <option>1999</option>
                                    <option>2000</option>
                                    <option>2001</option>
                                    <option>2002</option>
                                    <option>2003</option>
                                    <option>2004</option>
                                    <option>2005</option>
                                    <option>2006</option>
                                    <option>2007</option>
                                    <option>2008</option>
                                    <option>2009</option>
                                    <option>2010</option>
                                    <option>2011</option>
                                    <option>2012</option>
                                    <option>2013</option>
                                    <option>2014</option>
                                    <option>2015</option>
                                    <option>2016</option>
                                    <option>2017</option>
                                    <option>2018</option>
                                    
                                </select>             
                            </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3" id="color">
                  <button type="button" class="btn btn-warning btn-md" id="path">Submit</button>
            </div>
        </div>
    <!-- </div> -->


    <h3 class="text-center" id="zod">Know Your Weekly , Monthly and Yearly Astrology</h3><br>

            <div class="space">
            <div class="row help help1">
                  <div class="col-sm-4 col-md-4 col-lg-4">
                    <div class="columns">
                        <ul class="price">
                          <li class="header" style="background-color:black">Weekly</li>
                          <li class="grey"><img src="assets/img/h1.jpg" class="img img-fluid"></li>
                          <li>&#8377;2,800 / month</li>
                           <li class="grey"><button type="button" class="btn btn-primary"  data-toggle="modal" data-target="#myModal">
                            Subscribe
                          </button>
                      
                        
                          <!-- The Modal -->
                          <div class="modal fade" id="myModal">
                            <div class="modal-dialog">
                              <div class="modal-content">
                              
                                <!-- Modal Header -->
                                <div class="modal-header">
                                  
                                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>
                                
                                <!-- Modal body -->
                                <div class="modal-body">
                                  
                                 <!-- Body Content Start-->     
                          <section>
                            <div class="container"> 
                                <div class="row">
                                    <div class="col-md-8" style="margin: auto;float: none;">
                                        <div class="uploadform">
                                            <form  name="form1">
                                              
                                             <!-- <h4>Enter your Details</h4> -->
                        
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <label id="left">Name:</label>
                                                        <div class="form-group">
                                                          <input type="text" class="form-control" name="fname">
                                                        </div>
                                                    </div>
                                                
                                                    <div class="col-md-12">
                                                        <label id="left">Email:</label>
                                                        <div class="form-group">
                                                          <input type="text" class="form-control" name="email">
                                                        </div>
                                                    </div>
                                                </div>
                        
                                                
                                                    <div class="col-md-12">
                                                        <div class="form-group"> 
                                                            <input type="submit" class="btn btn-primary">
                                                        </div> 
                                                    </div>
                                              
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                                <!-- Body Content end-->
                                </div>
                                
                                <!-- Modal footer -->
                                <!-- <div class="modal-footer" style="background-color: #fff;">
                                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                </div>
                                 -->
                              </div>
                            </div>
                          </div></li>
                        </ul>
                      </div>
                    </div>
                    <div class="col-sm-4 col-md-4 col-lg-4">
                      <div class="columns">
                        <ul class="price">
                          <li class="header" style="background-color:black">Monthly</li>
                          <li class="grey"><img src="assets/img/h1.jpg" class="img img-fluid"></li>
                          <li>&#8377;4,200 / month</li>
                           <li class="grey"><button type="button" class="btn btn-primary"  data-toggle="modal" data-target="#myModal">
                            Subscribe
                          </button>
                      
                        
                          <!-- The Modal -->
                          <div class="modal fade" id="myModal">
                            <div class="modal-dialog">
                              <div class="modal-content">
                              
                                <!-- Modal Header -->
                                <div class="modal-header">
                                  
                                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>
                                
                                <!-- Modal body -->
                                <div class="modal-body">
                                  
                                 <!-- Body Content Start-->     
                          <section>
                            <div class="container"> 
                                <div class="row">
                                    <div class="col-md-8" style="margin: auto;float: none;">
                                        <div class="uploadform">
                                            <form  name="form1">
                                              
                                             <!-- <h4>Enter your Details</h4> -->
                        
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <label id="left">Name:</label>
                                                        <div class="form-group">
                                                          <input type="text" class="form-control" name="fname">
                                                        </div>
                                                    </div>
                                                
                                                    <div class="col-md-12">
                                                        <label id="left">Email:</label>
                                                        <div class="form-group">
                                                          <input type="text" class="form-control" name="email">
                                                        </div>
                                                    </div>
                                                </div>
                        
                                                
                                                    <div class="col-md-12">
                                                        <div class="form-group"> 
                                                            <input type="submit" class="btn btn-primary">
                                                        </div> 
                                                    </div>
                                              
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                                <!-- Body Content end-->
                                </div>
                                
                                <!-- Modal footer -->
                                <!-- <div class="modal-footer" style="background-color: #fff;">
                                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                </div>
                                 -->
                              </div>
                            </div>
                          </div></li>
                        </ul>
                      </div>
                    </div>
                    
                      <div class="col-sm-4 col-md-4 col-lg-4">
                        <div class="columns">
                        <ul class="price">
                          <li class="header" style="background-color:black">Yearly</li>
                          <li class="grey"><img src="assets/img/h1.jpg" class="img img-fluid"></li>
                          <li>&#8377;5,600 / month</li>
                    
                          <li class="grey"><button type="button" class="btn btn-primary"  data-toggle="modal" data-target="#myModal">
                            Subscribe
                          </button>
                      
                        
                          <!-- The Modal -->
                          <div class="modal fade" id="myModal">
                            <div class="modal-dialog">
                              <div class="modal-content">
                              
                                <!-- Modal Header -->
                                <div class="modal-header">
                                  
                                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>
                                
                                <!-- Modal body -->
                                <div class="modal-body">
                                  
                                 <!-- Body Content Start-->     
                          <section>
                            <div class="container"> 
                                <div class="row">
                                    <div class="col-md-8" style="margin: auto;float: none;">
                                        <div class="uploadform">
                                            <form  name="form1">
                                              
                                             <!-- <h4>Enter your Details</h4> -->
                        
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <label id="left">Name:</label>
                                                        <div class="form-group">
                                                          <input type="text" class="form-control" name="fname">
                                                        </div>
                                                    </div>
                                                
                                                    <div class="col-md-12">
                                                        <label id="left">Email:</label>
                                                        <div class="form-group">
                                                          <input type="text" class="form-control" name="email">
                                                        </div>
                                                    </div>
                                                </div>
                        
                                                
                                                    <div class="col-md-12">
                                                        <div class="form-group"> 
                                                            <input type="submit" class="btn btn-primary">
                                                        </div> 
                                                    </div>
                                              
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                                <!-- Body Content end-->
                                </div>
                                
                                <!-- Modal footer -->
                                <!-- <div class="modal-footer" style="background-color: #fff;">
                                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                </div>
                                 -->
                              </div>
                            </div>
                          </div></li>
                        </ul>
                      </div>
                    </div>
                    
                      
                </div>
</div>
            
            <h3 class="text-center" id="zod">Our Top Astrologers</h3><br>

            <!-- <div class="space"> -->
            <div class="row">
                <div class="col-md-4 col-sm-4 col-xs-12 text-center text-xs-center">
                <a routerLink="/talktoastrologers">
                    <img src="assets/images/dummy.png" class="img-fluid">
                </a>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12 text-center text-xs-center">
                        <a routerLink="/talktoastrologers">
                        <img src="assets/images/dummy.png" class="img-fluid">
                        </a>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12 text-center text-xs-center">
                            <a routerLink="/talktoastrologers">
                            <img src="assets/images/dummy.png" class="img-fluid">
                            </a>
                        </div>
            </div>

            <div class="row">
                    <div class="col-md-2">
                        <!-- <img src="assets/img/top1.png" class="img-fluid"> -->
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12 text-center text-xs-center">
                            <a routerLink="/talktoastrologers">
                            <img src="assets/images/dummy.png" class="img-fluid">
                            </a>
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-12 text-center text-xs-center">
                                <a routerLink="/talktoastrologers">
                                <img src="assets/images/dummy.png" class="img-fluid">
                                </a>
                            </div>
                            <div class="col-md-2"></div>
                        
                </div>
                <div class="row">
                        <div class="col-md-4 col-sm-4 col-xs-12 text-center text-xs-center">
                            <a routerLink="/talktoastrologers">
                            <img src="assets/images/dummy.png" class="img-fluid">
                            </a>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12 text-center text-xs-center">
                                <a routerLink="/talktoastrologers">
                                <img src="assets/images/dummy.png" class="img-fluid">
                                </a>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12 text-center text-xs-center">
                                    <a routerLink="/talktoastrologers">
                                    <img src="assets/images/dummy.png" class="img-fluid">
                                    </a>
                                </div>
                </div>
                    
            <!-- </div> -->
</div>

 

      

                   
               