<div class="container body-container">
<hr id="style">
<div class="scrollmenu">
        <a routerLink="/onlinecourses/livelecturers" >Live Lectures</a>
        <a routerLink="/onlinecourses/learnatdevotee" >Learn At Devotee</a>
        <a routerLink="/onlinecourses/content">Content Access</a>
</div>    
<!-- <table class="table-responsive">
    <tr >
        <td class="pad"><a routerLink="/onlinecourses/livelecturers" >Live Lectures</a></td>
        <td class="pad"><a  >Learn At Devotee</a></td>
        <td class="pad"> <a routerLink="/onlinecourses/content" >Content Access</a></td>
        
    </tr>

</table> -->
<!-- <div class="row">
    <a routerLink="/live" >Live Lectures</a>
    <a  >Learn At Devotee</a>
    <a routerLink="/content" >Content Access</a>
  
</div> -->

<hr id="style">

</div>
<h3 class="text-center" id="zod">Learn At Devotee World</h3>
<section>
    <div class="container cour">
        <div class="row">
            <div class="col-md-8 col-sm-8 col-lg-8 col-xs-12">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-lg-6 col-xs-6">
                            <div class="card">
                                    <img class="card-img-top"  src="assets/images/Stock.jpg" alt=" Image">
                                    <div class="card-block">
                                      <h4 class="card-title text-center">Pooja</h4>
                                      <div id="pooja">
                                           <p>Uchi Pillayar Temple This shrine was built by the great Pallava 
                                               king Mahendravarman in the ninth century A.D.</p>
                                       </div>
                                    </div>
                                  </div> 
                    </div>

                    <div class="col-md-6 col-sm-6 col-lg-6 col-xs-6">
                            <div class="card">
                                    <img class="card-img-top"  src="assets/images/Stock.jpg" alt=" Image">
                                    <div class="card-block">
                                      <h4 class="card-title text-center">Pooja</h4>
                                      <div id="pooja">
                                           <p>Uchi Pillayar Temple This shrine was built by the great Pallava 
                                               king Mahendravarman in the ninth century A.D.</p>
                                       </div>
                                    </div>
                                  </div> 
                    </div>
                </div>

                <div class="row cour">
                        <div class="col-md-6 col-sm-6 col-lg-6 col-xs-6">
                                <div class="card">
                                        <img class="card-img-top"  src="assets/images/Stock.jpg" alt=" Image">
                                        <div class="card-block">
                                          <h4 class="card-title text-center">Pooja</h4>
                                          <div id="pooja">
                                               <p>Uchi Pillayar Temple This shrine was built by the great Pallava 
                                                   king Mahendravarman in the ninth century A.D.</p>
                                           </div>
                                        </div>
                                      </div> 
                        </div>
    
                        <div class="col-md-6 col-sm-6 col-lg-6 col-xs-6">
                                <div class="card">
                                        <img class="card-img-top"  src="assets/images/Stock.jpg" alt=" Image">
                                        <div class="card-block">
                                          <h4 class="card-title text-center">Pooja</h4>
                                          <div id="pooja">
                                               <p>Uchi Pillayar Temple This shrine was built by the great Pallava 
                                                   king Mahendravarman in the ninth century A.D.</p>
                                           </div>
                                        </div>
                                      </div> 
                        </div>
                    </div>  
            </div>

            <div class="col-md-4 col-sm-4 col-lg-4 col-xs-12">
                <div class="row">
                    <div class="col-md-4 col-sm-4 col-lg-4 col-xs-12 text-center text-xs-center">
                        <img src="assets/images/astro.jpg" id="basic" class="img-fluid">
                    </div>

                    <div class="col-md-8 col-sm-8 col-lg-8 col-xs-12 text-center text-xs-center">
                        <!-- <div> -->
                            <ul class="list">
                                <li>Ashok Sharma</li>
                                <li>Experience in Astrology</li>
                                <li>12 Years</li>
                            </ul>
                        <!-- </div> -->
                    </div>
                </div>
                <br>

                <div class="row">
                        <div class="col-md-4 col-sm-4 col-lg-4 col-xs-12 text-center text-xs-center">
                            <img src="assets/images/rashmi.jpeg" id="basic" class="img-fluid">
                        </div>
    
                        <div class="col-md-8 col-sm-8 col-lg-8 col-xs-12 text-center text-xs-center">
                            <div>
                                <ul class="list">
                                    <li>Acharya Rashmi Sharma</li>
                                    <li>Experience in Vedic astrologer</li>
                                    <li>11 Years</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <br>

                <div class="row">
                        <div class="col-md-4 col-sm-4 col-lg-4 col-xs-12 text-center text-xs-center">
                            <img src="assets/images/ramakant.jpg" id="basic" class="img-fluid">
                        </div>
    
                        <div class="col-md-8 col-sm-8 col-lg-8 col-xs-12 text-center text-xs-center">
                                <div>
                                        <ul class="list">
                                            <li>Ramakant</li>
                                            <li>Experience in Astrology</li>
                                            <li>7 Years</li>
                                        </ul>
                                    </div>
                        </div>
                    </div>
                    <br>

                    <div class="row">
                            <div class="col-md-4 col-sm-4 col-lg-4 col-xs-12  text-center text-xs-center">
                                <img src="assets/images/sharma.jpeg" id="basic" class="img-fluid">
                            </div>
        
                            <div class="col-md-8 col-sm-8 col-lg-8 col-xs-12 text-center text-xs-center">
                                    <div>
                                            <ul class="list">
                                                <li>Sharma</li>
                                                <li>Experience in Horoscope</li>
                                                <li>8 Years</li>
                                            </ul>
                                        </div>
                            </div>
                        </div>
            </div>


        </div>
    </div>
</section>



<section>
    <div class="container mydiv cour">
           
            <h3 class="text-center" id="zod">Learn</h3>
        <div class="row">
            <div class="col-md-6 col-sm-12 col-lg-6 col-xs-12">
                <img src="assets/images/Letter.jpg" class="rounded-circle " id="by">
                <p class="place">To enrol best of engineers, computer and  
                    electronics graduates, Vector Institute is the only one institute 
                    that conducts campus-based entrance test All over India (25 cities)
                    in every three months.</p>
            </div>

            <div class="col-md-6 col-sm-12 col-lg-6 col-xs-12">
                    <!-- <h3 class="text-center" id="zod">Learn</h3> -->
                    <div class="row">
                        <div class="col-md-2">
                            
                        </div>
                
                        <div class="col-md-8" id="hello">
                            <div class="uploadform">
                                <form action="#">
                                    
                                        <div class="row" id="talk">
                                            <div class="col-md-12">
                                                  <div class="form-group">
                                                  <label>Full Name:</label>
                                                  <input type="text" class="form-control" required>
                                                  </div>
                                            </div>
                                        </div>
                
                                        <div class="row">
                                            <div class="col-md-12">
                                                <label>Email Id:</label>
                                                <div class="form-group">
                                                      <input type="email" class="form-control" required>       
                                                </div>
                                            </div>
                                        </div>
                
                                        <div class="row">
                                            <div class="col-md-12">
                                                <label>Mobile no:</label>
                                                <div class="form-group">
                                                      <input type="text" class="form-control" required>       
                                                </div>
                                            </div>
                                        </div>
                                        
                                        <div class="row">
                                        <div class="col-md-12">
                                            <!-- <div class="form-group" id="horo"> -->
                                                <label id="bus">Services:</label>
                                                    <select class="form-control" id="bus">
                                                            <option value="">Select Your Service</option>
                                                            <option value="1">Horoscope</option>
                                                            <option value="3">Astrology</option>
                                                            <option value="2">Numerology</option>
                                                            <option value="4">Vasthu</option>
                                                            <option value="5">Reiki</option>
                                                            <option value="6">Palmistry</option>
                                                    </select>
                                            <!-- </div> -->
                                        </div>
                                        </div>
                
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                      <label>Comments:</label>
                                                      <textarea class="form-control" cols="4" rows="2" required></textarea>
                                                </div>
                                            </div>  
                                        </div>
                
                                        <div class="row">
                                            <div class="col-md-12"> 
                                                <div class="form-group" id="ui">
                                                      <input type="submit" class="btn btn-primary">
                                                </div>
                                            </div>
                                        </div>
                                </form>
                            </div>
                        </div>
                
                        <!-- <div class="col-md-4">
                            
                        </div> -->
                
                    </div>
            </div>
        </div>
    </div>
</section>


    
   