
<div class="container-fluid search body-container" id="top">
        <div class="container">
        
                <div class="row" id="">
        
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-12 text-center text-xs-center place">
                
                        </div>
                
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 text-center text-xs-center place" id="class">
                          <form class="navbar-form" role="search">
                            <div class="input-group add-on">
                              <input class="form-control" placeholder="Search" name="srch-term" id="srch-term" type="text">
                              <div class="input-group-btn">
                                <button class="btn btn-default" type="submit"><img src="assets/images/search.png"></button>
                              </div>
                            </div>
                          </form>
                        </div>
                        
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 text-center text-xs-center place">
                            
                        </div>
                
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 text-center text-xs-center place" id="class">
                            <div class="form-group">
                                <select class="form-control">
                                    <option>Select Category</option>
                                    <option>Astrology Experts</option>
                                    <option>Numerology Experts</option>
                                    <option>Tarot Experts</option>
                                    <option>Vasthu Experts</option>
                                    <option>All</option>
                                </select>             
                            </div>
                        </div>
                
                    </div>
            <div class="row">
                <div class="col-lg-3 col-sm-6 col-xs-12 text-center text-xs-center ">
        
                    
                    <div class="card hovercard" id="hr">
                        <div>
                            <img src="assets/images/yant.jpg" class="img-fluid" id="last">
                        </div>
        
                        <div class="avatar">
                            <img src="assets/images/d1.png">
                        </div>
        
                        <div class="info">
                            <div class="title">
                                <h4>Arjun Chungh</h4>
                            </div>
                            <div class="desc">Arjun Chungh has an experience in the astrology from the last 12 years. 
                            </div>
                        </div>
                        <div id="primary">
                        <button type="button" class="btn btn-primary">Call Now</button>
                        </div>
                    </div>
            
                </div>
        
                <div class="col-lg-3 col-sm-6 col-xs-12 text-center text-xs-center ">
        
            
                    <div class="card hovercard" id="hr">
                        <div>
                            <img src="assets/images/yant.jpg" class="img-fluid" id="last">
                        </div>
        
                        <div class="avatar">
                            <img src="assets/images/d1.png">
                        </div>
        
                        <div class="info">
                            <div class="title">
                                <h4>Dlip Sharma</h4>
                            </div>
                            <div class="desc">I am Dlip Sharma experience in the Astrology and Vasthu from the last 10 years. 
                            </div>
                        </div>
                        <div id="primary">
                            <button type="button" class="btn btn-primary">Call Now</button>
                            </div>
                    </div>
                    
                </div>
        
                <div class="col-lg-3 col-sm-6 col-xs-12 text-center text-xs-center ">
        
                    <div class="card hovercard" id="hr">
                        <div>
                            <img src="assets/images/yant.jpg" class="img-fluid" id="last">
                        </div>
        
                        <div class="avatar">
                            <img src="assets/images/d1.png">
                        </div>
        
                        <div class="info">
                            <div class="title">
                                <h4>Ramakant</h4>
                            </div>
                            <div class="desc">Acharya ramakant puri is from Vedic Astrologer from the last 8 years. 
                            </div>
                        </div>
                        <div id="primary">
                            <button type="button" class="btn btn-primary">Call Now</button>
                            </div>
                    </div>
                
                </div>
        
                <div class="col-lg-3 col-sm-6 col-xs-12 text-center text-xs-center ">
        
        
                    <div class="card hovercard" id="hr">
                        <div>
                            <img src="assets/images/yant.jpg" class="img-fluid" id="last">
                        </div>
        
                        <div class="avatar">
                            <img src="assets/images/d1.png">
                        </div>
        
                        <div class="info">
                            <div class="title">
                                <h4>Sharma</h4>
                            </div>
                            <div class="desc">sharma has an experience in the Vedic Astrologer from the last 12 years. 
                            </div>
                        </div>
                        <div id="primary">
                            <button type="button" class="btn btn-primary">Call Now</button>
                            </div>
                    </div>
                
                </div>
            </div>
        </div>
        </div>
        
        
        
        <div class="container">
            <h3 class="text-center" id="talk">Our Top Astrologers</h3><br>
            
            <!-- <div class="space"> -->
            <div class="row">
                <div class="col-md-4 col-sm-4 col-xs-12 text-center text-xs-center">
                        <a routerLink="/astroservices/form" >
                    <img src="assets/images/dummy.png" class="img-fluid">
                    </a>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12 text-center text-xs-center">
                        <a routerLink="/astroservices/form" >
                        <img src="assets/images/dummy.png" class="img-fluid">
                        </a>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12 text-center text-xs-center">
                            <a routerLink="/astroservices/form" >    
                        <img src="assets/images/dummy.png" class="img-fluid">
                        </a>
                        </div>
            </div>
            
            <div class="row">
                    <div class="col-md-2">
                        <!-- <img src="assets/img/top1.png" class="img-fluid"> -->
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12 text-center text-xs-center">
                            <a routerLink="/astroservices/form" >    
                        <img src="assets/images/dummy.png" class="img-fluid">
                            </a>
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-12 text-center text-xs-center">
                                <a routerLink="/astroservices/form" >    
                            <img src="assets/images/dummy.png" class="img-fluid">
                            </a>
                            </div>
                            <div class="col-md-2"></div>
                        
                </div>
                <div class="row">
                        <div class="col-md-4 col-sm-4 col-xs-12 text-center text-xs-center">
                                <a routerLink="/astroservices/form" >
                            <img src="assets/images/dummy.png" class="img-fluid">
                        </a>
            
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12 text-center text-xs-center">
                                <a routerLink="/astroservices/form" >   
                            <img src="assets/images/dummy.png" class="img-fluid">
                                </a>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12 text-center text-xs-center">
                                    <a routerLink="/astroservices/form" >    
                                <img src="assets/images/dummy.png" class="img-fluid">
                                </a>
                                </div>
                </div>
            
            </div>
        
        
        
            <section>
                <div class="container">
                        <h3 class="text-center hath">Top Astrology Topics</h3>
                    <div class="row" id="hello">
                        <div class="col-lg-6 col-sm-12 col-md-12 col-xs-12 text-center text-xs-center ">
                            <div class="row" id="jack">
                                <div class="col-lg-5 col-sm-6 col-md-5 col-xs-12 text-center text-xs-center ">
                                    <img src="assets/images/stars.jpg" class="img-fluid">
                                </div>
                    
                                <div class="col-lg-7 col-sm-6 col-md-7 col-xs-12 text-center text-xs-center ">
                                    <h5 class="hath">Stories written in the stars</h5>
                                    <p>2017-10-31 <br>
                                        Constellations give a dim light of deep, unconscious stories that guide our path.</p>
                                </div>
                            </div>
        
                            <div class="row" id="jack">
                                <div class="col-lg-5 col-sm-6 col-md-5 col-xs-12 text-center text-xs-center ">
                                    <img src="assets/images/stars.jpg" class="img-fluid">
                                </div>
                    
                                <div class="col-lg-7 col-sm-6 col-md-7 col-xs-12 text-center text-xs-center ">
                                    <h5 class="hath">Stories written in the stars</h5>
                                    <p>2017-10-31 <br>
                                        Constellations give a dim light of deep, unconscious stories that guide our path.</p>
                                </div>
                            </div>
        
                            
                        </div>
        
                        <div class="col-lg-6 col-sm-12 col-md-12 col-xs-12 text-center text-xs-center ">
                            <div class="row" id="jack">
                                <div class="col-lg-5 col-sm-6 col-md-5 col-xs-12 text-center text-xs-center ">
                                    <img src="assets/images/stars.jpg" class="img-fluid">
                                </div>
                    
                                <div class="col-lg-7 col-sm-6 col-md-7 col-xs-12 text-center text-xs-center ">
                                    <h5 class="hath">Stories written in the stars</h5>
                                    <p>2017-10-31 <br>
                                        Constellations give a dim light of deep, unconscious stories that guide our path.</p>
                                </div>
                            </div>
        
                            <div class="row" id="jack">
                                <div class="col-lg-5 col-sm-6 col-md-5 col-xs-12 text-center text-xs-center ">
                                    <img src="assets/images/stars.jpg" class="img-fluid">
                                </div>
                    
                                <div class="col-lg-7 col-sm-6 col-md-7 col-xs-12 text-center text-xs-center ">
                                    <h5 class="hath">Stories written in the stars</h5>
                                    <p>2017-10-31 <br>
                                        Constellations give a dim light of deep, unconscious stories that guide our path.</p>
                                </div>
                            </div>
        
                            
                        </div>
                    </div>
                </div>
            </section>
        