<div class="container body-container">
  <div class="row">
    <div class="col-sm-12 col-lg-12 col-md-12 col-xs-12">
      <div class="bs-example">
        <!-- <div id="section1">     -->
        
        <h3 style="padding: 25px;">Aries</h3>

<h5>Aries Characteristics Horoscope </h5>
<img src="assets/img/a111.png" class="img img-fluid">
<p>Born in the first zodiac sign, Arians always like to champion an energetic or vibrant beginning. They have a flair for competition, speed and dynamism. They wish to be the first in everything whether it is home or work place. These people are highly active and wish to be highly active. At times, they jump into something without thinking enough. They have their sun dignified that gives them great organizing skills. They work with small deadlines and produce great results. They fight hard to achieve their goals and lead their team effectively well in an organized fashion. These brave individuals are never afraid to take risks. They are prepared to share what they have with others so easily. </p>
<!-- <h5>Aries Love and Marriage Horoscope</h5> -->
<h5>
<a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Aries Love and Marriage Horoscope</a></h5>
<div id="collapseTwo" class="panel-collapse collapse in">
<p>When they are in love, they can express their feelings to their partner without any hesitation. These passionate people show a lot of love to others. They love adventures, sexual plays and pleasures even in excesses. Sharing the qualities of Venus, they want to make life so enjoyable with all the elements of romance like tenderness, joy, intimacy, emotional bonding and a peaceful satisfaction. Only when their primal interests are met, they can move on to lasting relationships. Their partners must always have the adrenaline and zeal to catch up with them and fulfill their strong and passionate love needs. 
</p></div>
<h5>
<a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">Aries Career Horoscope </a> </h5>
<div id="collapseThree" class="panel-collapse collapse in">
<p>Since their working environment gives them enough opportunity to fuel their ambitions and demonstrate their creative talents, Arians have a strong liking for their professional atmosphere. They are born leaders and can command others well. They can never tolerate being controlled or advised. They are very speedy and willing to take up any challenge. They can easily assess every situation and make the right decisions. They need to overcome their emotions to perceive their career path clearly so that they progress in a definite way.</p>
</div>
</div>
</div>
</div>
<hr>
      <!-- </div> -->


<!-- <div id="section2">     -->
  <div class="row">
    <div class="col-sm-12 col-lg-12 col-md-12 col-xs-12">
      <div class="bs-example">
<h3 style="padding: 25px;">Taurus</h3>

<h5>
  Taurus Characteristics Horoscope </h5>
  <img src="assets/img/a111.png" class="img img-fluid">
<p>Taurians are highly practical people. They are hardworking and want to be surrounded by beauty, love, romance and the pleasures of the world. They are highly sensual and tactile in nature. Therefore consider touch and taste as the top priorities in life. These are highly stable individuals and conservatives and reliable people. They can endure and stick to their options till they are finally satisfied. They have a realistic and practical perspective towards life. They can stay on a particular project for a long time till they complete it to success. When they are committed to s task in hand, people might view it as stubbornness. They can make good workers, long term friends and reliable partners. They are loyal and hostile to sudden changes. 
</p>
<!-- <h5>Aries Love and Marriage Horoscope</h5> -->
<h5>
<a data-toggle="collapse" data-parent="#accordion" href="#collapsefour">Taurus Love and Marriage Horoscope</a></h5>
<div id="collapsefour" class="panel-collapse collapse in">
<p>Patience is the only key to succeed in winning a Taurian in relationship. Taurians deem pleasures as the most important component of life. At the same time, they need some time to feel safe to move into involved sexual relationships. When they enter the comfort zone, they tend to be over indulgent and uncontrolled. To overcome this tendency, a team work with the partner is called for aided by practical reasoning. When they search for long term partners, they prefer those who can fulfill their intellectual needs and those of their family members too. These are highly traditional and practical people to deal with.  
</p></div>
<h5>
<a data-toggle="collapse" data-parent="#accordion" href="#collapsefive">Taurus Career Horoscope </a> </h5>
<div id="collapsefive" class="panel-collapse collapse in">
<p>Taurians respect money. They work had to earn it. These reliable and hardworking individuals can be good assets to their employers. They have a firm focus on the projects they take up and stick to it stubbornly to move it to perfect completion. They love luxury as well as a practical life. Some of the most suited professions for them include banking, agriculture, art, catering and others. They are highly stable in life and at the same time love the pleasures of life of the core.</p>
</div>
<!-- </div> -->
</div>
</div>
</div>
<hr>
 
<div class="row">
  <div class="col-sm-12 col-lg-12 col-md-12 col-xs-12">
    <div class="bs-example">     
<h3 style="padding: 25px;">Gemini</h3>

<h5>
  Gemini Characteristics Horoscope </h5>
  <img src="assets/img/a111.png" class="img img-fluid">
<p>Geminians are highly expressive and even too much talkative. They are a bundle of two personalities one which you see in front of you and the other one which you can never predict. These highly sociable and communicative individuals love fun. At the same time, they quickly escape into restlessness and serious disposition. They are highly curious and passionate about life and its experiences. They like to explore and enjoy everything that comes in their way. Since they are constantly under the feeling of missing a part of them, they strongly wish to make friends and seek the company of their partner, colleague or person who can understand them. Some of the best suited professions for this zodiac sign are writing, journalism, trade, team sports and trade. 
</p>
<!-- <h5>Aries Love and Marriage Horoscope</h5> -->
<h5>
<a data-toggle="collapse" data-parent="#accordion" href="#collapse6">Gemini Love and Marriage Horoscope</a></h5>
<div id="collapse6" class="panel-collapse collapse in">
<p>Geminians are fun loving. They are always willing to accept intellectual challenges. Besides mere physical contact, they see verbal interaction and other forms of communication as integral parts of romantic relationship. With this tendency, they can make their life partner feel highly comfortable. Geminians are flirting in nature. They like to explore a good number of options with regard to romantic relationship before settling with the one they find suitable in terms of energy and intelligence. They always want excitement, variety and passion in life. When they find the most suitable partner who can be a friend, lover and companion at once, they will stick to them and give their best to please them. 
</p></div>
<h5>
<a data-toggle="collapse" data-parent="#accordion" href="#collapse7">Gemini Career Horoscope </a> </h5>
<div id="collapse7" class="panel-collapse collapse in">
<p>Geminians need an environment that will fuel their intelligence. They look forward to intellectually challenging tasks. They are highly creative and skilled and prefer a dynamic working environment. They can do well in environments where they need to interact with a lot of people. Some of the best careers suitable for them are trade, inventing, writing, preaching, law and rhetoric. Those professions that will give them enough opportunity to communicate and be busy all the time will interest them. They hate sticking to the same boring routines. They are good in multitasking and solving problems.</p>
</div>
</div>
</div>
</div>
<hr>


<div class="row">
  <div class="col-sm-12 col-lg-12 col-md-12 col-xs-12">
    <div class="bs-example">  
<h3 style="padding: 25px;">Cancer</h3>

<h5>
  Cancer Characteristics Horoscope </h5>
  <img src="assets/img/a111.png" class="img img-fluid">
<p>Cancerians are highly intuitive and sentimental. They are very hard to understand among all the zodiac signs. These emotional and sensitive individuals care more about the domestic affairs and their personal issues than anything else on the earth. They are highly attached to people whom they deem close. Being highly loyal, they can empathize with other people and can share their sufferings and pains. Strongly under the spell of their emotions, they find it very difficult to mix with the world around them. Their emotional patterns highly oscillate and are very difficult to control. They need to be handled with care and understanding. Some of their sharp characteristics include being self-centered, self-pity, manipulative tendency and severe mood swings.  
</p>
<!-- <h5>Aries Love and Marriage Horoscope</h5> -->
<h5>
<a data-toggle="collapse" data-parent="#accordion" href="#collapse8">Cancer Love and Marriage Horoscope</a></h5>
<div id="collapse8" class="panel-collapse collapse in">
<p>Being highly sensitive and care seeking, these people consider the emotional side of relationships as the most important one in life. They cannot tolerate unreliable and flirting individuals. They want a highly understanding and caring partner who can share their daily routine fully. Their partners must be capable of building trust in them and make them feel protected and confident. Only then it is possible to discover their deeply rooted emotions. In order to keep the image of the family going, they can make any compromises even with the partner who is selfish and abusive. These people are vulnerable to be misguided through an emotional encounter into something that is not in their making. 

</p></div>
<h5>
<a data-toggle="collapse" data-parent="#accordion" href="#collapse9">Cancer Career Horoscope </a> </h5>
<div id="collapse9" class="panel-collapse collapse in">
<p>When a crucial job is to be accomplished, you can call a Cancerian and entrust it to see that it is accomplished meticulously. They like to work alone rather than being in a team. They shine well in tasks that allow them to be independent. They are highly loyal to their work place and bosses. Some of the best suited professions for Cancerians are housekeepers, nurses, politicians, interior decorators and nurses. Cancerians can earn money easily, but are not spendthrifts. They like to save for future. These people are highly resourceful and good at financial management.</p>
</div>
</div>
</div>
</div>
<hr>


<div class="row">
  <div class="col-sm-12 col-lg-12 col-md-12 col-xs-12">
    <div class="bs-example">  
<h3 style="padding: 25px;">Leo</h3>

<h5>
  Leo Characteristics Horoscope </h5>
  <img src="assets/img/a111.png" class="img img-fluid">
<p>Leos are born to lead and rule. These confident, dominating and creative individuals can achieve anything in life conquering their hurdles and overcoming the challenges. Their loyalty and generosity win them a lot of friends. They are charismatic and majestic personalities who can inspire others so easily and mobilize them into successful teams for a common cause. Their powerful sense of humor helps them collaborate with people easily. Characterized by the element of fire, they like to laugh and find a good time in life. They take the initiative to solve tricky situations with the help of their intelligence. They always wish to fuel their ego and grow it to find some fulfillment. In their desire for self-aggrandizement, they can be often negligent of other people’s needs.  
</p>
<!-- <h5>Aries Love and Marriage Horoscope</h5> -->
<h5>
<a data-toggle="collapse" data-parent="#accordion" href="#collapse10">Leo Love and Marriage Horoscope</a></h5>
<div id="collapse10" class="panel-collapse collapse in">
<p>Passionate Leos are very sincere when it comes to relationships. They can clearly express their feelings and needs to their partners. They take the leading role even when it comes to relationships. When Leos are too much imposing on their partners, their partners might grow tired of them. Leos will comfortable with partners who are intelligent as them, reasonable and aware of themselves. At the same time, Leo’s partners must be able to express their needs boldly in order to get what they want or they will be sidelined and neglected. Leos look forward to fun-filled, adventurous and vibrant sexual life. Often in their need for physical fulfillment, they might tend to forget the importance of intimacy and emotions between partners. 
</p></div>
<h5>
<a data-toggle="collapse" data-parent="#accordion" href="#collapse11">Leo Career Horoscope </a> </h5>
<div id="collapse11" class="panel-collapse collapse in">
<p>These energetic and creative individuals always want to keep themselves busy in life. They love being optimistic and look forward to benefit from opportunities. Those professions that can give vent to their artistic talents suit them the best including acting and entertaining. They can very well manage themselves and others too. But they cannot tolerate being bossed over by their superiors. Vocations like politics, management, education and entertainment will fit them very well. Leos love trendy and modern things. They spend lavishly on leading a luxurious life in every way possible. These generous individuals will also spend a lot of money helping their friends and others on the move as a mark of proving their generosity.</p>
</div>
</div>
</div>
</div>
<hr>

<div class="row">
  <div class="col-sm-12 col-lg-12 col-md-12 col-xs-12">
    <div class="bs-example">
        
<h3 style="padding: 25px;">Virgo</h3>

<h5>
  virgo Characteristics Horoscope </h5>
  <img src="assets/img/a111.png" class="img img-fluid">
<p>Virgos are highly detail oriented. They are the most careful among all the zodiac signs. They approach life in a highly systematic and organized way. They do not leave things to chance. Though they are gentle and soft natured, they are often closed to the world, which might be viewed as a naïve tendency. They cannot tolerate chaos and confusion. If they need to work amidst a disturbing environment, they have the ability to stay focused toe their goals with sincerity and diligence. Often, they are worried of missing things and missing details which gets them struck up with something in the middle. The world is often surprised to see them becoming critical and worried of small things that do not even mater to others. Failing to see justice and truth missing in people, they grow critical of life and turn introverts and spoiled at times. 
</p>
<!-- <h5>Aries Love and Marriage Horoscope</h5> -->
<h5>
<a data-toggle="collapse" data-parent="#accordion" href="#collapse12">virgo Love and Marriage Horoscope</a></h5>
<div id="collapse12" class="panel-collapse collapse in">
<p>Virgo wants to feel safe and seeks a highly caring relationship. Those partners who can assure this can do well with Virgos. Virgos wish to open their vulnerable heart and seek comfort from their soul mate. They feel difficult to make direct love statements. So, rather than verbal expressions, Virgos will find comfortable with intimate emotional bond that will help them bring out the beauty of their passionate self-expression. Virgos are never for casual encounters. They wish to find serious, stable and long term relationship. Highly organized and clever, Virgos have a definition of their partner in their hearts which they must meet. Virgo’s partner must endure patiently to build trust that will fuel their relationship over the long journey they must make. 
</p></div>
<h5>
<a data-toggle="collapse" data-parent="#accordion" href="#collapse13">virgo Career Horoscope </a> </h5>
<div id="collapse13" class="panel-collapse collapse in">
<p>The three words that describe Virgos are practical outlook, analytical temperament and hardworking nature. They are adepts in peeping into the core of the problem to resolve it for the good of all. Their methodical approach will help them shine in the profession they take up. They will find occupations related to paperwork and problem solving their cup of tea. Virgos are perfect executors of any task and move them to completion successfully. Virgos have a keen eye for minute details and they love artistic expression. They are good critics and will make expert psychologists, doctors and nurses.</p>
</div>
</div>
</div>
</div>
<hr>

<div class="row">
  <div class="col-sm-12 col-lg-12 col-md-12 col-xs-12">
    <div class="bs-example">
<h3 style="padding: 25px;">Libra</h3>

<h5>
  Libra Characteristics Horoscope </h5>
  <img src="assets/img/a111.png" class="img img-fluid">
<p>Librans are highly charming, peace loving and just. They never like to be alone. It is difficult for them to function alone or take independent decisions. Therefore they wish to partner with someone whom they can trust. Interesting people, good books and intelligent discussions highly interest them. Librans are ruled by Venus which represents beautiful things in life. Therefore they always look for quality in everything. They like art and music and visiting beautiful places. Due to their high degree of cooperation, they can do well in teams. Librans always prefer justice and equality and can never tolerate injustice. They always wish to avoid conflicting situations and often feel very difficult to make strong decisions in life unless with some assistance from others. 
</p>
<!-- <h5>Aries Love and Marriage Horoscope</h5> -->
<h5>
<a data-toggle="collapse" data-parent="#accordion" href="#collapse14">Libra Love and Marriage Horoscope</a></h5>
<div id="collapse14" class="panel-collapse collapse in">
<p>Librans deem it their top priority to find a partner compatible with them. When it comes to family life, they always wish to maintain peace and harmony without any clashes or disputes. They never like to be alone and wish to avoid any situation where they have to function individually. When it comes to love life, they wish to demonstrate creativity and balance. They are highly expressive of their needs. They will go to any length to please their partners. Their dedication combined with an attractive personality will charm any individual and make them fall in love with a Libran. Librans can make wonderful life partners. 

</p></div>
<h5>
<a data-toggle="collapse" data-parent="#accordion" href="#collapse15">Libra Career Horoscope </a> </h5>
<div id="collapse15" class="panel-collapse collapse in">
<p>Harmony and balance are of utmost importance in life to a Libran. Librans are good leaders. They are hardworking and make their way forward to deserve some good privileges. The let truth, impartiality and justice prevail over their decisions. These people can do well in work environments that demand team work and partnership. They are talented speakers and can easily persuade people to accept their views. Some of the best suited career options for Librans are police officers, lawyers, judges and others. They can shine well in careers like interior decoration, composing, fashion designing, civil service, diplomatic assignments and others. They can effectively balance between living comfortably as well as to save for future.</p>
</div>
</div>
</div>
</div>
<hr>

<div class="row">
  <div class="col-sm-12 col-lg-12 col-md-12 col-xs-12">
    <div class="bs-example">
<h3 style="padding: 25px;">Scorpio</h3>

<h5>
  Scorpio Characteristics Horoscope </h5>
  <img src="assets/img/a111.png" class="img img-fluid">
<p>Scorpions are highly stubborn, assertive and zealous individuals. They are strong with regard to their decisions and make their way forward diligently and tirelessly until they discover truth. Scorpions are great leaders. They can clearly understand and react to the situation very well. They are highly resourceful to meet the challenges of life. Scorpions can express their emotions well. Unlike other water signs, they have novel ways of expressing their emotions. They are good in keeping secrets and so you can confide in them. Ruled by Pluto, Scorpions are cool and calm. They are often mysterious and tough to understand. Since they are dedicated to their cause, they can make great leaders. They are often jealous and suspicious and therefore end up staining their relationships with friends and partners. They need to adapt to different human beings to avoid conflicts and troubles. 

</p>
<!-- <h5>Aries Love and Marriage Horoscope</h5> -->
<h5>
<a data-toggle="collapse" data-parent="#accordion" href="#collapse16">Scorpio Love and Marriage Horoscope</a></h5>
<div id="collapse16" class="panel-collapse collapse in">
<p>Scorpions are the most sensuous people among all the zodiac signs. They are highly passionate and expect an intimate and highly satisfying physical relationship. They look forward to partnering with honest and intelligent ones. When they fall in love, they are highly dedicated and loyal. However, since they need a lot of time to build the trust with a new person, they do not jump into relationships very quickly. 
</p></div>
<h5>
<a data-toggle="collapse" data-parent="#accordion" href="#collapse17">Scorpio Career Horoscope </a> </h5>
<div id="collapse17" class="panel-collapse collapse in">
<p>Scorpions are wonderful managers. They can solve problems easily and can be highly creative. When they set a goal, they do anything and everything to achieve it. They have a scientific thinking and a thoughtful approach to life. Their focused attitude and strong determination make them great leaders. For them business and friendship are two opposite poles of life and so they never like to mix them up. Careers best suited to them are researching, detective, police, mangers, psychology, sailing, scientist and physician. Through hard work, they make good money. They do not spend much and make careful financial planning in life.</p>
</div>
</div>
</div>
</div>

<hr>

<div class="row">
  <div class="col-sm-12 col-lg-12 col-md-12 col-xs-12">
    <div class="bs-example">
<h3 style="padding: 25px;">Sagittarius</h3>

<h5>
Sagittarius Characteristics Horoscope </h5>
<img src="assets/img/a111.png" class="img img-fluid">
<p>Every Sagittarian is a curious and robust individual. Among all the zodiac signs, Sagittarians love extensive travelling the most. They are very much open-minded and deeply philosophical. They like to wander around in search of truth in life. Being outgoing, optimistic and highly enthusiastic individuals, Sagittarians can easily transform their vision into action and achieve their cherished goals in life. Curiosity and humor are the top highlights of their personality ruled by Jupiter. They value freedom more than anything else in their life. They like to travel to distant places and explore new cultures and thoughts. Being very honest, often they invite enmity and misunderstanding when they tell things on the face bluntly. 
</p>
<!-- <h5>Aries Love and Marriage Horoscope</h5> -->
<h5>
<a data-toggle="collapse" data-parent="#accordion" href="#collapse18">Sagittarius Love and Marriage Horoscope</a></h5>
<div id="collapse18" class="panel-collapse collapse in">
<p>Highly fun loving and playful Sagittarians always seek fulfilling relationship with their partners. They are highly expressive of their needs and have passionate needs. Therefore, they need a partner who is equally frank and passionate to the core. When it comes to love life, Sagittarians are more than willing to try anything that comes on their way. This zodiac sign feels there is hardly any difference between love and sex. They always love change and wish to beat the boredom by inventing something they can enjoy. Therefore, their love life is always filled with something exciting and interesting. When confronting true love, they will be faithful and loyal. Intelligent, expressive and sensitive partners will highly suit a Sagittarian.  
</p></div>
<h5>
<a data-toggle="collapse" data-parent="#accordion" href="#collapse19">Sagittarius Career Horoscope </a> </h5>
<div id="collapse19" class="panel-collapse collapse in">
<p>Sagittarians always burns with a passion to achieve the goals of their life. To this end, they are prepared to sacrifice anything and everything. They can make good sales people as Sagittarians are experts in communicating effectively and persuading people. They can talk suitable to any given situation. They always favor an environment of variety and dynamism. Careers that suit Sagittarians best include travel agency, photography, researching, art, imports and exports and ambassador. Sagittarians make enough money through various means in their lives and like to spend it. Happy life is their top priority above anything.</p>
</div>
</div>
</div>
</div>
<hr>

<div class="row">
  <div class="col-sm-12 col-lg-12 col-md-12 col-xs-12">
    <div class="bs-example">
<h3 style="padding: 25px;">Capricorn</h3>

<h5>
  Capricorn Characteristics Horoscope </h5>
  <img src="assets/img/a111.png" class="img img-fluid">
<p>Capricornians love tradition and are highly serious in their approach. The sense of independence deeply rooted in their hearts propels their lives and help them achieve a remarkable progress in their personal as well as professional lives. They have a great degree of self-control and can lead others well by making workable and successful plans. They can easily manage big teams by inspiring them. They easily learn from their mistakes and push their way up in the success ladder. They can make the best use of resources and produce excellent results. They expect all those under them to stick to traditional values aggressively. They must learn to forgive others and be sympathetic to them.  
</p>
<!-- <h5>Aries Love and Marriage Horoscope</h5> -->
<h5>
<a data-toggle="collapse" data-parent="#accordion" href="#collapse20">Capricorn Love and Marriage Horoscope</a></h5>
<div id="collapse20" class="panel-collapse collapse in">
<p>Though it is not an easy task to win the heart of a Capricornian, they will stick to their partners so faithfully once a trust is built. Since they are unforgiving and strict in their dealings and relationships, often it is very challenging to live with them. When these people are highly sensitive, they prefer to show their feelings for others in actions rather than words. They need years of time to develop the confidence and trust in the other person to be able to share their feelings openly. They highly lack the much-needed compassion and empathy that can nurture relationships.  
</p></div>
<h5>
<a data-toggle="collapse" data-parent="#accordion" href="#collapse21">Capricorn Career Horoscope </a> </h5>
<div id="collapse21" class="panel-collapse collapse in">
<p>Capricornians can never set a small goal in front of them. Though their goals are lofty, they can achieve them with honesty, dedication and perseverance. Nothing is more important to these people than loyalty and hard work. They also highly regard individuals who are loyal and hardworking and keep them close with enough rewards. With their power of strong focus and resourcefulness, they can get any job done in life. They strive hard for hours together without getting tired to finish their targets and show some concrete results. They can manage finances very well using it for development as well as saving something for future.</p>
</div>
</div>
</div>
</div>
<hr>

<div class="row">
  <div class="col-sm-12 col-lg-12 col-md-12 col-xs-12">
    <div class="bs-example">
<h3 style="padding: 25px;">Aquarius</h3>

<h5>
  Aquarius Characteristics Horoscope </h5>
  <img src="assets/img/a111.png" class="img img-fluid">
<p>An Aquarian is reserved and quiet. At times, they can become energetic and eccentric also. These are intellectuals and deep thinkers with a compassionate heart to help others. As problem solvers, they are good at giving judgment weighing the pros and cons without any partiality. At times, they remove themselves from the world and like to be alone. They are optimistic and approaches life with enthusiasm. They need some stimulation to jump into work and produce great results. They are visionaries and can perceive what will happen in future. These strong humanists fight for social causes and feel comfortable in a group or system. They like to make friends and never like to be limited or constrained. 
</p>
<!-- <h5>Aries Love and Marriage Horoscope</h5> -->
<h5>
<a data-toggle="collapse" data-parent="#accordion" href="#collapse22">Aquarius Love and Marriage Horoscope</a></h5>
<div id="collapse22" class="panel-collapse collapse in">
<p>Cleverness and intelligence attract Aquarians more than anything else. They are impressed by intellectual talks. They are open to take risk and explore new possibilities in life. They have a strong imaginative power and good communication skills. They highly expect their life partner to be loyal and trustworthy. They look forward to long term relationship and never like to settle with something that is fleeting and changing. Though they are fully committed to their partners, they are never possessive. They give a lot of freedom and independence to their partners.  
</p></div>
<h5>
<a data-toggle="collapse" data-parent="#accordion" href="#collapse23">Aquarius Career Horoscope </a> </h5>
<div id="collapse23" class="panel-collapse collapse in">
<p>Aquarians are highly imaginative and creative. They contribute these qualities to show excellence in their performance at work. They like to go with a career that has enough scope for growth and development. They are highly skilled and knowledgeable and are highly willing to share their knowledge with others also. Therefore, they can strongly inspire people around them. They like to help the humanity with their talents and skills. These people are good at money management and meeting both ends of finance. They like to be dressed in bright color clothes boldly and they are never afraid to show off their liking for style. Careers best suited to Aquarians are piloting, photography, teaching, creative writing and acting. They do not like to work under strict guidelines. Once they are given freedom, they can solve complex problems with ease and demonstrate excellence at work palce.</p>
</div>
</div>
</div>
</div>
<hr>


<div class="row">
  <div class="col-sm-12 col-lg-12 col-md-12 col-xs-12">
    <div class="bs-example">
<h3 style="padding: 25px;">Pisces</h3>

<h5>
  Pisces Characteristics Horoscope </h5>
  <img src="assets/img/a111.png" class="img img-fluid">
<p>Pisces are highly friendly with others and so it is natural to find them in the company of people. These selfless individuals always look forward to opportunities to help others. Most times, they are sacrificial in nature not expecting anything in return for the favors they extend. Ruled by Neptune, these are highly intuitive people endowed with great artistic talents. They love music and you find great singers born in this zodiac sign. Pisceans are highly caring, compassionate, generous and very loyal. They can form a great emotional bond with people. In order to win the attention of others, often they are highly willing to become martyrs. They are highly tolerant people and can easily forgive others.  
</p>
<!-- <h5>Aries Love and Marriage Horoscope</h5> -->
<h5>
<a data-toggle="collapse" data-parent="#accordion" href="#collapse24">Pisces Love and Marriage Horoscope</a></h5>
<div id="collapse24" class="panel-collapse collapse in">
<p>When it comes to love life, Pisceans can provide a highly caring and passionate partner. They are highly romantic and look forward to a highly sensuous relationship. These people are very loyal, highly generous and gentle with their partners with lesser chances for disputes and disagreements. They have a huge need to feel a true connection with their partners. Sometimes, they yield easily for short term relationships and love adventures in their enthusiastic zeal to meet the needs of their contacts. It is rare to find individuals who can be more caring for their partners.  
</p></div>
<h5>
<a data-toggle="collapse" data-parent="#accordion" href="#collapse25">Pisces Career Horoscope </a> </h5>
<div id="collapse25" class="panel-collapse collapse in">
<p>Pisceans will shine in careers that give vent to their creative abilities and imaginative power. When it comes to charitable causes, Pisceans can make a passionate contribution by becoming a part of an organization. Some good career options for Pisceans include law, architecture, medicine, music, social work and game designing. Pisceans have a zealous interest in bringing some changes in the lives of people they love. To this end, they are more than willing to do great sacrifices. When focused on their goals, they will amass enough money to achieve them easily. They will never fall short of money for a decent life.</p>
</div>




     
     </div>
    </div>
  </div>
</div>


<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script> -->