<div class="container-fluid body-container">
        <div class="title-arch"><p class="text-center">Different Types of Reiki Treatement</p></div>
    <div class="row exactly">
        <div class="col-md-2 col-lg-2 col-sm-12 col-xs-12 text-center text-xs-center">
            <img src="assets/images/hand.jpg" class="rounded-circle">
        </div>

        <div class="col-md-10 col-lg-10 col-sm-12 col-xs-12 text-center text-xs-center">
            <p class="place" id="height">
                    How exactly does Reiki release tension and help the body heal? That question
                    has yet to be answered. Although there is increasing research evidence
                    documenting the effects of Reiki (such as lowered heart rate, blood pressure,
                    and stress hormones; increased immune strength), we have only broad theories
                    as to what causes these effects or the pathways through which the healing occurs.
                    The multileveled, rapid response to Reiki suggests a complex process that engages
                    many body systems, simultaneously or in quick succession, shifting the body from 
                    domination by the "fight or flight" (stress) response to the relaxation response,
                    and supporting the body's own healing mechanisms.
                    At the simplest, most obvious level, it appears that Reiki treatment
                     helps lessen the impact of stress, releasing tension from the entire 
                     system. Not only does the person move toward his or her own unique 
                     balance in body, mind and spirit.
            </p>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
            <h4 class="text-center">Reiki Works</h4>
            <p class="place">The National Center for Complementary and Integrative Health (NCCIH) describes Reiki as a complementary and alternative medicine practice that uses putative (yet to be measured) energy fields, or biofields, to affect health. Energy biofield therapies "generally reflect the concept that human beings are infused with subtle forms of energy," which are believe to surround and interpenetrate human form. Energy therapies, such as therapeutic touch and Healing Touch, are believed to balance these subtle energy fields.
                </p>
        </div>

        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
                <h4 class="text-center">Reiki Works</h4>
                <p class="place">The National Center for Complementary and Integrative Health (NCCIH) describes Reiki as a complementary and alternative medicine practice that uses putative (yet to be measured) energy fields, or biofields, to affect health. Energy biofield therapies "generally reflect the concept that human beings are infused with subtle forms of energy," which are believe to surround and interpenetrate human form. Energy therapies, such as therapeutic touch and Healing Touch, are believed to balance these subtle energy fields.
                    </p>
        </div>
    </div>
</div>


<div class="container-fluid">
    
        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 project" style="background-image:url('assets/images/anxiety/anxiety.jpg');background-size:150%;">
            <div class="project-hover">
                <h2>Anxiety</h2> 
                <hr />
                <p>In an anxiety-related disorder, your fear or worry does not go away and can get worse over time. It can influence your life to the extent that it can interfere with daily activities like school, work and/or relationships.</p>
            </div>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 project project-2" style="background-image:url('assets/images/anxiety/lower-back-pain.jpg');background-size:cover;">
            <div class="project-hover">
                <h2>BackPain</h2>
                <hr />
                <p>Pain in the low back (waistline or below) is a very common problem and affects 80 percent of Americans at some time in their lives. Back pain is one of the most frequent reasons people seek medical care.</p>
        
            </div>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 project project-3" style="background-image:url('assets/images/anxiety/cancer-1.jpg');background-size:88%;">
            <div class="project-hover">
                <h2>Cancer</h2>
                <hr />
                <p>According to the American Cancer Society, cancer is a group of diseases characterized by uncontrolled growth and spread of abnormal cells. If the spread is not controlled, it can result in death.</p>

            </div>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 project project-4" style="background-image:url('assets/images/anxiety/Headache.jpg');background-size:90%;">
            <div class="project-hover">
                <h2>Migraines</h2>
                <hr />
                <p>Headaches are defined as pain in the head or upper neck. This is one of the most common locations of pain in the body and one of the most common reasons why people go to the doctor. </p>
        
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    
    
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 text-center text-xs-center  cath">
                <h2 class="text-center">Anxiety</h2>
                <img src="assets/images/images.jpg" class="rounded-circle" id="type">
                <p class="place"> Fear, stress, and anxiety are "normal feelings and experiences" but they are completely different than suffering from any of the seven diagnosable disorders plus substance-induced anxiety, obsessive-compulsive disorders.</p>
            </div>
    
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 text-center text-xs-center cath">
                <h2 class="text-center">BackPain</h2>
                <img src="assets/images/images.jpg" class="rounded-circle" id="type">
                <p class="place"> Most of the time, back pain is relatively minor,Common cause of back pain include nerve and muscular problems, degenerative disc disease, and arthritis. However, pain arising from other organs may be felt in the back.</p>
            </div>
    
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 text-center text-xs-center cath">
                <h2 class="text-center">Cancer</h2>
                <img src="assets/images/images.jpg" class="rounded-circle" id="type">
                <p class="place"> Cancer can arise in many sites and behave differently depending on its organ of origin. Breast cancer, for example, has different characteristics than lung cancer. It is important to understand that cancer originating in one body organ. </p>
            </div>
    
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 text-center text-xs-center cath">
                <h2 class="text-center">BackPain</h2>
                <img src="assets/images/images.jpg" class="rounded-circle" id="type">
                <p class="place">Migraine headaches are the second most common type of primary headache. An estimated 25 million people in the United States (about 12% of the population) will experience migraine headaches each year for the men and the women.</p>
            </div>
        </div>
    </div>
    
    
    <div class="container-fluid">
    <div class="title-arch">A Project for Reiki<p>Different Types of Reiki</p></div>
    
        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 project">
            <div class="project-hover">
                <h2>Yoga</h2>
                
                <hr />
                <p>Yoga is a spiritual tradition that began in India about 5,000 years ago. Historically its practices have been adopted by such religions as Hinduism, Jainism, and Buddhism. However, the practice of yoga is compatible with any religion, as well as atheism.</p>
        
            </div>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 project project-2">
            <div class="project-hover">
                <h2>Food As Medicine</h2>
                <hr />
                <p>There are many reasons why we should pay attention to what we eat. The processed, low-variety foods many of us consume regularly may be convenient and tasty, but they compromise our health.</p>

            </div>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 project project-3">
            <div class="project-hover">
                <h2>Naturopathy</h2>
                <hr />
                <p>Naturopathic practitioners are trained as general practitioners specializing in natural medicine. They cooperate with all other branches of medical science, referring patients to other practitioners for diagnosis or treatment when appropriate (AANP, 1998).</p>
            
            </div>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 project project-4">
            <div class="project-hover">
                <h2>Healing Touch</h2>
                <hr />
                <p>Healing Touch is an "energy therapy" that uses gentle hand techniques thought to help re-pattern the patient's energy field and accelerate healing of the body, mind, and spirit.</p>
            
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 text-center text-xs-center cath math">
                <h3 class="text-center">Yoga</h3>
                <img src="assets/images/images.jpg" class="rounded-circle" id="type">
                <p class="place"> The word yoga means union in Sanskrit. Many of the yoga traditions believe that the practices of yoga lead to union of a person with his or her true nature, or with God or the universe (however one wishes to conceptualize it).</p>
            </div>
    
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 text-center text-xs-center cath">
                <h3 class="text-center">Food As Medicine</h3>
                <img src="assets/images/images.jpg" class="rounded-circle" id="type">
                <p class="place"> We especially need to pay attention to what we eat when we are sick so we can give our bodies the nutrients it needs to heal. And if you want to be even more deliberate in improving health—perhaps to address a chronic disease.</p>
            </div>
    
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 text-center text-xs-center cath">
                <h3 class="text-center">Naturopathy</h3>
                <img src="assets/images/images.jpg" class="rounded-circle" id="type">
                <p class="place"> Naturopathic medicine is a science-based tradition that promotes wellness by identifying the unique aspects of each patient and then employing non-toxic natural therapies to restore his or her physiological, psychological.</p>
            </div>
    
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 text-center text-xs-center cath">
                <h3 class="text-center">Healing Touch</h3>
                <img src="assets/images/images.jpg" class="rounded-circle" id="type">
                <p class="place">Healing Touch is based on the belief that human beings are fields of energy that are in constant interaction with others and the environment. The goal of Healing Touch is to purposefully use the energetic interaction Healing Touch.</p>
            </div>
        </div>
    </div> 
    