

<div class="container body-container" id="new">
    <h2 class="text-center" id="zod">Online Courses</h2>
    <div class="row">
        <div class="col-lg-8">
            <p>Indian Astrology is also known as Indian Vedic Astrology or Vedic Astrology.
                Vedic Astrology can be defined as the science explains in details the planetary
                movements and positions in respect to day and time, and their effects on 12 zodiac 
                signs that influence the personality traits of humans. In short, it depends on the 
                correct positions of the zodiacal fixed sun signs in regards to the place/location on
                the earth at given point of time.The term Jyotish means the science of light. 
                It is very apt as Vedic astrology deals in astral light patterns that reflect our 
                destiny and future.
                </p> 
        </div>
      <div class="col-lg-4">
         <a routerLink= "/onlinecourses/livelecturers">
          <!-- <h3 class="text-center">Temple</h3> -->
        <img  src="assets/images/pooja/live3.png" id="space"><br>
        <!-- <h3 class="text-center">Pooja</h3> -->
        </a>
       </div>
      
      
    </div><hr>
  
  
    <div class="row">

        <div class="col-lg-8">
            <p>Indian Astrology is also known as Indian Vedic Astrology or Vedic Astrology.
                Vedic Astrology can be defined as the science explains in details the planetary
                movements and positions in respect to day and time, and their effects on 12 zodiac 
                signs that influence the personality traits of humans. In short, it depends on the 
                correct positions of the zodiacal fixed sun signs in regards to the place/location on
                the earth at given point of time.The term Jyotish means the science of light. 
                It is very apt as Vedic astrology deals in astral light patterns that reflect our 
                destiny and future.
                </p> 
        </div>
        <div class="col-lg-4">
           <a routerLink= "/onlinecourses/learnatdevotee">
            <!-- <h3 class="text-center">Community</h3> -->
          <img  src="assets/images/pooja/learn3.png" id="space"><br>
          <!-- <h3 class="text-center">Pooja</h3> -->
          </a>
         </div>
        
       
      </div><hr>
    
      <div class="row">

          <div class="col-lg-8">
              <p>Indian Astrology is also known as Indian Vedic Astrology or Vedic Astrology.
                  Vedic Astrology can be defined as the science explains in details the planetary
                  movements and positions in respect to day and time, and their effects on 12 zodiac 
                  signs that influence the personality traits of humans. In short, it depends on the 
                  correct positions of the zodiacal fixed sun signs in regards to the place/location on
                  the earth at given point of time.The term Jyotish means the science of light. 
                  It is very apt as Vedic astrology deals in astral light patterns that reflect our 
                  destiny and future.
                  </p> 
          </div>
          <div class="col-lg-4">
             <a routerLink= "/onlinecourses/content">
              <!-- <h3 class="text-center">Location</h3> -->
            <img  src="assets/images/pooja/content1.png" id="space"><br>
            <!-- <h3 class="text-center">Pooja</h3> -->
            </a>
           </div>
          
          
        </div>
      
    
  </div>