<div class="container body-container">
    <hr id="style">
  
  
    <table class="table-responsive">
      <tr >
          <td class="pad"><a  >Rudhrakshas</a></td>
          <td class="pad"><a routerLink="/devoteeshop/yantras" >Yantras</a></td>
          <td class="pad"> <a routerLink="/devoteeshop/shaligram" >Shaligram</a></td>
          <td class="pad"><a routerLink="/devoteeshop/books" >Books</a></td>
          <td class="pad"><a routerLink="/devoteeshop/vasthu" >Vasthu</a></td>
          <td class="pad"><a routerLink="/devoteeshop/calendars" >Calendars</a></td>
          <td class="pad"><a routerLink="/devoteeshop/dairy" >Dairy</a></td>
          <td class="pad"><a routerLink="/devoteeshop/gemstones" >Gemstones</a></td>
      </tr>
  
  </table>
  
    <!-- <div class="row">
      <a routerLink="/rudhrakshas" >Rudhrakshas</a>
      <a routerLink="/yantras" >Yantras</a>
      <a routerLink="/shaligram" >Shaligram</a>
      <a routerLink="/books" >Books</a>
      <a  >Vasthu</a>
      <a routerLink="/calendar" >Calendars</a>
      <a routerLink="/dairy" >Dairy</a>
      <a routerLink="/gemstones" >Gemstones</a>
    </div> -->
  
    <hr id="style">
    <h2 class="text-center" id="zod">Rudhrakshas </h2>
  
    
    <div class="row" id="new">
      <div class="col-xl-3 col-lg-3 col-sm-6 col-xs-12 text-center text-xs-center ">
        <a target="_blank" href="2.html">
          <img src="assets/images/rudrakshas/mukhi1.jpeg" class="img img-thumbnail">
          <!-- <a href="#"> -->
                   <p class="text-center">Name : Rudhrakshas<br>Price : xxx</p></a>
      </div>
  
      <div class="col-xl-3 col-lg-3 col-sm-6 col-xs-12 text-center text-xs-center ">
        <a target="_blank" href="2.html">
          <img src="assets/images/rudrakshas/mukhi1.jpeg" class="img img-thumbnail">
          <!-- <a target="_blank" href="2.html"> -->
                   <p class="text-center">Name : Rudhrakshas<br>Price : xxx</p></a>
      </div>
      <div class="col-xl-3 col-lg-3 col-sm-6 col-xs-12 text-center text-xs-center ">
        <a target="_blank" href="2.html">
          <img src="assets/images/rudrakshas/mukhi1.jpeg" class="img img-thumbnail">
          <!-- <a href="#"> -->
                   <p class="text-center">Name : Rudhrakshas<br>Price : xxx</p></a>
      </div>
      <div class="col-xl-3 col-lg-3 col-sm-6 col-xs-12 text-center text-xs-center ">
        <a target="_blank" href="2.html">
          <img src="assets/images/rudrakshas/mukhi1.jpeg" class="img img-thumbnail">
          <!-- <a href="#"> -->
                   <p class="text-center">Name : Rudhrakshas<br>Price : xxx</p></a>
      </div>
  
    </div>
  
    <div class="row" id="new">
      <div class="col-xl-3 col-lg-3 col-sm-6 col-xs-12 text-center text-xs-center ">
        <a target="_blank" href="2.html">
          <img src="assets/images/rudrakshas/mukhi1.jpeg" class="img img-thumbnail">
          <!-- <a href="#"> -->
                   <p class="text-center">Name : Rudhrakshas<br>Price : xxx</p></a>
      </div>
      <div class="col-xl-3 col-lg-3 col-sm-6 col-xs-12 text-center text-xs-center ">
        <a target="_blank" href="2.html">
          <img src="assets/images/rudrakshas/mukhi1.jpeg" class="img img-thumbnail">
          <!-- <a href="#"> -->
                   <p class="text-center">Name : Rudhrakshas<br>Price : xxx</p></a>
      </div>
      <div class="col-xl-3 col-lg-3 col-sm-6 col-xs-12 text-center text-xs-center ">
        <a target="_blank" href="2.html">
          <img src="assets/images/rudrakshas/mukhi1.jpeg" class="img img-thumbnail">
                   <p class="text-center">Name : Rudhrakshas<br>Price : xxx</p></a>
      </div>
      <div class="col-xl-3 col-lg-3 col-sm-6 col-xs-12 text-center text-xs-center ">
        <a target="_blank" href="2.html">
          <img src="assets/images/rudrakshas/mukhi1.jpeg" class="img img-thumbnail">
          <!-- <a href="#"> -->
                   <p class="text-center">Name : Rudhrakshas<br>Price : xxx</p></a>
      </div>
    </div>
  </div>
  