<div class="container body-container">
  <hr id="style">

  <table class="table-responsive">
    <tr >
        <td class="pad"> <a routerLink="/devoteeshop/rudhrakshas" >Rudhrakshas</a></td>
        <td class="pad"><a routerLink="/devoteeshop/yantras" >Yantras</a></td>
        <td class="pad"><a>Shaligram</a></td>
        <td class="pad"><a routerLink="/devoteeshop/books" >Books</a></td>
        <td class="pad"><a routerLink="/devoteeshop/vasthu" >Vasthu</a>
        <td class="pad"><a routerLink="/devoteeshop/calendars" >Calendars</a></td>
        <td class="pad"><a routerLink="/devoteeshop/dairy" >Dairy</a></td>
        <td class="pad"><a routerLink="/devoteeshop/gemstones" >Gemstones</a></td>
    </tr>

</table>

  <!-- <div class="row">
    <a routerLink="/rudhrakshas" >Rudhrakshas</a>
    <a routerLink="/yantras" >Yantras</a>
    <a >Shaligram</a>
    <a routerLink="/books" >Books</a>
    <a routerLink="/vasthu" >Vasthu</a>
    <a routerLink="/calendar" >Calendars</a>
    <a routerLink="/dairy" >Dairy</a>
    <a routerLink="/gemstones" >Gemstones</a>
  </div> -->

  <hr id="style">
  <h2 class="text-center" id="zod">Shaligram </h2>
  <div class="row" id="new">
    <div class="col-xl-3 col-lg-3 col-sm-6 col-xs-12 text-center text-xs-center ">
      <a target="_blank" href="2.html">
        <img src="assets/images/shaligram/shaligram1.jpg" class="img img-thumbnail">
        <!-- <a href="#"> -->
                 <p class="text-center">Name : Shaligram<br>Price : xxx</p></a>
    </div>

    <div class="col-xl-3 col-lg-3 col-sm-6 col-xs-12 text-center text-xs-center ">
      <a target="_blank" href="2.html">
        <img src="assets/images/shaligram/shaligram2.jpg" class="img img-thumbnail">
        <!-- <a target="_blank" href="2.html"> -->
                 <p class="text-center">Name : Shaligram<br>Price : xxx</p></a>
    </div>
    <div class="col-xl-3 col-lg-3 col-sm-6 col-xs-12 text-center text-xs-center ">
      <a target="_blank" href="2.html">
        <img src="assets/images/shaligram/shaligram3.jpg" class="img img-thumbnail">
        <!-- <a href="#"> -->
                 <p class="text-center">Name : Shaligram<br>Price : xxx</p></a>
    </div>
    <div class="col-xl-3 col-lg-3 col-sm-6 col-xs-12 text-center text-xs-center ">
      <a target="_blank" href="2.html">
        <img src="assets/images/shaligram/shaligram4.jpg" class="img img-thumbnail">
        <!-- <a href="#"> -->
                 <p class="text-center">Name : Shaligram<br>Price : xxx</p></a>
    </div>

  </div>
  
  <div class="row" id="new">
    <div class="col-xl-3 col-lg-3 col-sm-6 col-xs-12 text-center text-xs-center ">
      <a target="_blank" href="2.html">
        <img src="assets/images/shaligram/shaligram5.jpg" class="img img-thumbnail">
        <!-- <a href="#"> -->
                 <p class="text-center">Name : Shaligram<br>Price : xxx</p></a>
    </div>
    <div class="col-xl-3 col-lg-3 col-sm-6 col-xs-12 text-center text-xs-center ">
      <a target="_blank" href="2.html">
        <img src="assets/images/shaligram/shaligram6.jpg" class="img img-thumbnail">
        <!-- <a href="#"> -->
                 <p class="text-center">Name : Shaligram<br>Price : xxx</p></a>
    </div>
    <div class="col-xl-3 col-lg-3 col-sm-6 col-xs-12 text-center text-xs-center ">
      <a target="_blank" href="2.html">
        <img src="assets/images/shaligram/shaligram7.jpg" class="img img-thumbnail">
                 <p class="text-center">Name : Shaligram<br>Price : xxx</p></a>
    </div>
    <div class="col-xl-3 col-lg-3 col-sm-6 col-xs-12 text-center text-xs-center ">
      <a target="_blank" href="2.html">
        <img src="assets/images/shaligram/shaligram8.jpg" class="img img-thumbnail">
        <!-- <a href="#"> -->
                 <p class="text-center">Name : Shaligram<br>Price : xxx</p></a>
    </div>
  </div>
</div>
