


<section>
  <div class="container">

<p>
    Karnataka is a tapestry of colours, cultures, flavours, landscapes, timelessness and heart stopping beauty. It’s a place where vibrant worlds seamlessly meld into one another every few hundred kilometers. Sedate plains suddenly rise to dizzying mist covered hilly heights, and then plunge with careless abandon in a white-watered freefall to become languid rivers that flow past cities where time has stopped altogether. And cities where time rushes a relentless rush to keep up with the world; cities that sometimes escape into the deep quietude of thick forests and sometimes, stretches their arms wide open to embrace the sea. Host to some of India's largest and most powerful dynasties, the state has across the centuries, carried a legacy of art and culture. Its geography - making it, by all means, a 191,791 square kilometre trail of whimsy.
  </p>
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" routerLink="mysore">Mysore</a>
          </li>
      
      <li class="nav-item">
          <a class="nav-link" routerLink="hubli">Hubli</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="mangalore">Mangalore</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="banglore">Banglore</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="bellary">Bellary</a>
          </li>
        </ul>
  </div>
</section>

<router-outlet></router-outlet>