<div class="container body-container">
  <hr id="style">

  <table class="table-responsive">
    <tr>
        <td class="pad"> <a >Horoscope</a></td>
        <td class="pad"> <a routerLink="/astroservices/astrology" >Astrology</a></td>
        <td class="pad"> <a routerLink="/astroservices/numerology" >Numerology</a></td>
        <td class="pad"> <a routerLink="/astroservices/vasthu" >Vasthu</a></td>
        <td class="pad"> <a routerLink="/astroservices/reiki" >Reiki</a></td>
        <td class="pad"> <a routerLink="/astroservices/palmistry" >Palmistry</a></td>
    </tr>

</table>



          <hr id="style">
    <h3 class="text-center" id="zod">What is Horoscope?</h3><br>
    
    <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 text-center text-xs-center ">
          <img src="assets/img/h2.jpg" class="img img-fluid">
        </div>
  
        <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12" >
          <p>It is an astrological chart which is calculated with the relevance of date, 
              time and birth place of a person.There are 12 zodiac signs, and each 
              sign has its own strengths and weaknesses, its own specific traits, 
              desires and attitude towards life and people.The actual word 'horoscope' is 
              derived from the Latin combination of two words in which 'Horo' means hour 
              and 'Scope' means view, so it is a 'view of the hour.'The actual word 'horoscope'
              is derived from the Latin combination of two words in which 'Horo' means hour
              and 'Scope' means view, so it is a 'view of the hour.'
            
              </p> 
        </div>
              
    </div>
    </div>
  
  
      
  
    <h3 class="text-center" id="zod">Know Your Free Horoscope</h3>
   
    <div class="container">
      <div class="row" id="zod1">
        
         <!-- Row1 sun sign zodaics -->
        
        <div class="col-md-2 col-lg-1 col-sm-4 col-xs-12 text-center text-xs-center"  >
          
            <a routerLink="/sign">  <img src="assets\images\1.png" alt="img2" class="ics"><br><h6 id="font"><b>Aries</b></h6></a> 
        
      </div>
        <div class="col-md-2 col-lg-1 col-sm-4 col-xs-12 text-center text-xs-center"  >
          
            <a routerLink="/sign">  <img src="assets\images\2.png" alt="img1" class="ics"><h6 id="font"><b>Taurus</b></h6></a>
        
        </div>
        <div class="col-md-2 col-lg-1 col-sm-4 col-xs-12 text-center text-xs-center"  >
        
          <a routerLink="/sign"> <img src="assets\images\3.png" alt="img1" class="ics"><h6 id="font"><b>Gemini</b></h6></a>
        
        </div>
        <div class="col-md-2 col-lg-1 col-sm-4 col-xs-12 text-center text-xs-center  "  >
        
          <a routerLink="/sign"><img src="assets\images\4.png" alt="img1" class="ics"><h6 id="font"><b>Cancer</b></h6></a>
        
        </div>
        <div class="col-md-2 col-lg-1 col-sm-4 col-xs-12 text-center text-xs-center "  >
            
          <a routerLink="/sign"> <img src="assets\images\5.png" alt="img1" class="ics"><h6 id="font"><b>Leo</b></h6></a>
        
        </div>
        <div class="col-md-2 col-lg-1 col-sm-4 col-xs-12 text-center text-xs-center  "  >
            
          <a routerLink="/sign"> <img src="assets\images\6.png" alt="img1" class="ics"><h6 id="font"><b>Virgo</b></h6></a>
         
        </div>
        <!-- </div> -->
        <!-- <div class="row" id="zod1"> -->
        <div class="col-md-2 col-lg-1 col-sm-4 col-xs-12 text-center text-xs-center  "  >
            
          <a routerLink="/sign">   <img src="assets\images\7.png" alt="img1" class="ics"><h6 id="font"><b>Libra</b></h6></a>
      
      </div>
      <div class="col-md-2 col-lg-1 col-sm-4 col-xs-12 text-center text-xs-center">
          
        <a routerLink="/sign">  <img src="assets\images\8.png" alt="img1" class="ics"><h6 id="font"><b> Scorpio</b></h6></a>
      
      </div>
      <div class="col-md-2 col-lg-1 col-sm-4 col-xs-12 text-center text-xs-center "  >
          
        <a routerLink="/sign"> <img src="assets\images\9.png" alt="img1" class="ics"><h6 id="font"><b>  &nbsp;Sagittarius</b></h6></a>
    
      </div>
      <div class="col-md-2 col-lg-1 col-sm-4 col-xs-12 text-center text-xs-center  "  >
          
        <a routerLink="/sign">  <img src="assets\images\10.png" alt="img1" class="ics"><h6 id="font"><b> &nbsp;Capricornus</b></h6></a>
      
      </div>
      <div class="col-md-2 col-lg-1 col-sm-4 col-xs-12 text-center text-xs-center"  >
          
        <a routerLink="/sign"> <img src="assets\images\11.png" alt="img1" class="ics"><h6 id="font"><b> &nbsp;Aquarius</b></h6></a>
      
      </div>
      <div class="col-md-2 col-lg-1 col-sm-4 col-xs-12 text-center text-xs-center "  >
          
        <a routerLink="/sign"> <img src="assets\images\12.png" alt="img1" class="ics"><h6 id="font"><b>Pisces</b></h6></a>
      
      </div>
    </div> 
    
  </div>
     
  
  
  <h3 class="text-center" id="zod">Know Your Weekly , Monthly and Yearly Horoscope</h3><br>
<div class="container">
    <div class="space">
      <div class="row help help1">
        <div class=" col-lg-4 col-md-4 col-sm-4">
            <div class="columns">
              <ul class="price">
                <li class="header" style="background-color:black">Weekly</li>
                <li class="grey"><img src="assets/img/h1.jpg" class="img img-fluid"></li>
                <li>&#8377;2,800 / month</li>
                <li class="grey">
                <button type="button" class="btn btn-primary"  data-toggle="modal" data-target="#myModal">
                      Subscribe
                </button>
        <!-- The Modal -->
                                <div class="modal fade" id="myModal">
                                     <div class="modal-dialog">
                                       <div class="modal-content">
                                       
                                         <!-- Modal Header -->
                                         <div class="modal-header">
                                           
                                           <button type="button" class="close" data-dismiss="modal">&times;</button>
                                         </div>
                                         
                                         <!-- Modal body -->
                                         <div class="modal-body">
                                           
                                          <!-- Body Content Start-->     
                                   <section>
                                     <div class="container"> 
                                         <div class="row">
                                             <div class="col-md-8" style="margin: auto;float: none;">
                                                 <div class="uploadform">
                                                     <form  name="form1">
                                                       
                                                      <!-- <h4>Enter your Details</h4> -->
                                 
                                                         <div class="row">
                                                             <div class="col-md-12">
                                                                 <label id="left">Name:</label>
                                                                 <div class="form-group">
                                                                   <input type="text" class="form-control" name="fname">
                                                                 </div>
                                                             </div>
                                                         
                                                             <div class="col-md-12">
                                                                 <label id="left">Email:</label>
                                                                 <div class="form-group">
                                                                   <input type="text" class="form-control" name="email">
                                                                 </div>
                                                             </div>
                                                         </div>
                                 
                                                         
                                                             <div class="col-md-12">
                                                                 <div class="form-group"> 
                                                                     <input type="submit" class="btn btn-primary">
                                                                 </div> 
                                                             </div>
                                                       
                                                     </form>
                                                 </div>
                                             </div>
                                         </div>
                                     </div>
                                 </section>
                                         <!-- Body Content end-->
                                         </div>
                                         
                                         <!-- Modal footer -->
                                         <!-- <div class="modal-footer" style="background-color: #fff;">
                                           <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                         </div>
                                          -->
                                       </div>
                                     </div>
                                   </div>
                           </li>
                            </ul>
                          </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4">
                          <div class="columns">
                            <ul class="price">
                              <li class="header" style="background-color:black">Monthly</li>
                              <li class="grey"><img src="assets/img/h1.jpg" class="img img-fluid"></li>
                              <li>&#8377;4,200 / month</li>
                               <li class="grey"><button type="button" class="btn btn-primary"  data-toggle="modal" data-target="#myModal">
                                Subscribe
                              </button>
                          
                            
                              <!-- The Modal -->
                              <div class="modal fade" id="myModal">
                                <div class="modal-dialog">
                                  <div class="modal-content">
                                  
                                    <!-- Modal Header -->
                                    <div class="modal-header">
                                      
                                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    </div>
                                    
                                    <!-- Modal body -->
                                    <div class="modal-body">
                                      
                                     <!-- Body Content Start-->     
                              <section>
                                <div class="container"> 
                                    <div class="row">
                                        <div class="col-md-8" style="margin: auto;float: none;">
                                            <div class="uploadform">
                                                <form  name="form1">
                                                  
                                                 <!-- <h4>Enter your Details</h4> -->
                            
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <label id="left">Name:</label>
                                                            <div class="form-group">
                                                              <input type="text" class="form-control" name="fname">
                                                            </div>
                                                        </div>
                                                    
                                                        <div class="col-md-12">
                                                            <label id="left">Email:</label>
                                                            <div class="form-group">
                                                              <input type="text" class="form-control" name="email">
                                                            </div>
                                                        </div>
                                                    </div>
                            
                                                    
                                                        <div class="col-md-12">
                                                            <div class="form-group"> 
                                                                <input type="submit" class="btn btn-primary">
                                                            </div> 
                                                        </div>
                                                  
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                                    <!-- Body Content end-->
                                    </div>
                                    
                                    <!-- Modal footer -->
                                    <!-- <div class="modal-footer" style="background-color: #fff;">
                                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    </div>
                                     -->
                                  </div>
                                </div>
                              </div></li>
                            </ul>
                          </div>
                        </div>
                        
                          <div class="col-lg-4 col-md-4 col-sm-4">
                            <div class="columns">
                            <ul class="price">
                              <li class="header" style="background-color:black">Yearly</li>
                              <li class="grey"><img src="assets/img/h1.jpg" class="img img-fluid"></li>
                              <li>&#8377;5,600 / month</li>
                        
                              <li class="grey"><button type="button" class="btn btn-primary"  data-toggle="modal" data-target="#myModal">
                                Subscribe
                              </button>
                          
                            
                              <!-- The Modal -->
                              <div class="modal fade" id="myModal">
                                <div class="modal-dialog">
                                  <div class="modal-content">
                                  
                                    <!-- Modal Header -->
                                    <div class="modal-header">
                                      
                                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    </div>
                                    
                                    <!-- Modal body -->
                                    <div class="modal-body">
                                      
                                     <!-- Body Content Start-->     
                              <section>
                                <div class="container"> 
                                    <div class="row">
                                        <div class="col-md-8" style="margin: auto;float: none;">
                                            <div class="uploadform">
                                                <form  name="form1">
                                                  
                                                 <!-- <h4>Enter your Details</h4> -->
                            
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <label id="left">Name:</label>
                                                            <div class="form-group">
                                                              <input type="text" class="form-control" name="fname">
                                                            </div>
                                                        </div>
                                                    
                                                        <div class="col-md-12">
                                                            <label id="left">Email:</label>
                                                            <div class="form-group">
                                                              <input type="text" class="form-control" name="email">
                                                            </div>
                                                        </div>
                                                    </div>
                            
                                                    
                                                        <div class="col-md-12">
                                                            <div class="form-group"> 
                                                                <input type="submit" class="btn btn-primary">
                                                            </div> 
                                                        </div>
                                                  
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                                    <!-- Body Content end-->
                                    </div>
                                    
                                    <!-- Modal footer -->
                                    <!-- <div class="modal-footer" style="background-color: #fff;">
                                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    </div>
                                     -->
                                  </div>
                                </div>
                              </div></li>
                            </ul>
                          </div>
                        </div>
                        
                          
                    </div>
</div>
</div>
  
        
  
                     
                 