.body-container{
    margin-top:130px;
}
#button{
    /* padding-left: 70px; */
    padding-top: 30px;
    
} 
#new{
    padding-bottom: 15px;
}
p{
    text-align: justify;
}
.columns {
    float: left;
    /* width: 33%; */
    padding: 10px;
}
#font{
    color:black;
    
   }
.price {
    list-style-type: none;
    border: 1px solid #eee;
    margin: 0;
    padding: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.price:hover {
    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
}

.price .header {
    background-color: #111;
    color: white;
    font-size: 15px;
}

.price li {
    border-bottom: 1px solid #eee;
    padding: 15px;
    text-align: center;
}

.price .grey {
    background-color: #eee;
    font-size: 20px;
}

.button {
    background-color: rgb(254,167,6);
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
}
#left{
    margin-left:-80%; 
}

@media(max-width: 576px) {
    
    body  .help{
        margin-left:110px;
    }

}



@media(max-width: 463px) {

body  .help1{
    margin-left:10px;
}

}

.pad{
    padding-left:100px;
}


#zod1{
    padding-top: 30px;
    }

    
    #zod{
        margin-top: 50px;
        margin-bottom: 25px;
        

      }
  #font{
    color:black;
    
   }

   #new{
     /* padding-top: 10px; */
    padding-left: 20%; 
   
}

.space{
    margin-left: 10%;
}
 p {
    font: 1em/1.5; 
    margin-top: 0; 
    margin-bottom: 1.5em; 
  }

 @media only screen and (min-width: 32em) {
    p {
      line-height: 1.75em;
      margin-bottom: 1.75em; 
     
    }
  } 
 


  #new1{
    padding-left:3%;
  }
  #space1{
    /* padding-left: 100px;
     */
     margin:auto;
     /* margin-left: 0px; */
     /* margin-right: 0px; */
  }
  
  #style{
    border:2px dashed orange;
  }

  a:link{
    text-decoration: none;
   
}