<div class="container body-container">
        
  <h2 class="text-center" >Devotee&nbsp;Shop</h2>

  
  <div class="row" id="new">
    <div class="col-lg-3 col-sm-6 col-xs-12 text-center text-xs-center">
      <a routerLink="/devoteeshop/rudhrakshas">
        <img src="assets/images/devotee shop/rudhra.jpg" class="img img-thumbnail"></a>
        <a routerLink="/rudhrakshas">               
                        <h6>Name : Rudhrakshas<br>Price : xxx</h6></a>
    </div>
    <div class="col-lg-3 col-sm-6 col-xs-12 text-center text-xs-center">
      <a routerLink="/devoteeshop/yantras">
        <img src="assets/images/devotee shop/yantra1.jpg" class="img img-thumbnail"></a>
        <a routerLink="/yantras">
                 <h6>Name : Yantras<br>Price : xxx</h6></a>
    </div>
    <div class=" col-lg-3 col-sm-6 col-xs-12 text-center text-xs-center">
      <a routerLink="/devoteeshop/shaligram">
        <img src="assets/images/devotee shop/shaligram.jpg" class="img img-thumbnail"></a>
        <a routerLink="/shaligram">
                 <h6>Name : Shaligram<br>Price : xxx</h6></a>
    </div>
    <div class=" col-lg-3 col-sm-6 col-xs-12 text-center text-xs-center">
      <a routerLink="/devoteeshop/books">
        <img src="assets/images/devotee shop/dvd.jpg" class="img img-thumbnail"></a>
        <a routerLink="/books">
                 <h6>Name : Books & cd's<br>Price : xxx</h6></a>
    </div>
  </div>
  </div>


  
<div class="container">
  <div class="row" id="new">
    <div class=" col-lg-3 col-sm-6 col-xs-12 text-center text-xs-center">
      <a routerLink="/devoteeshop/vasthu">
        <img src="assets/images/devotee shop/vasthu.jpg" class="img img-thumbnail"></a>
        <a routerLink="/vasthu">
                 <h6>Name : Vasthu<br>Price : xxx</h6></a>
    </div>
    <div class=" col-lg-3 col-sm-6 col-xs-12 text-center text-xs-center">
      <a routerLink="/devoteeshop/calendars">
        <img src="assets/images/devotee shop/calender.png" class="img img-thumbnail"></a>
        <a routerLink="/calendar">
                 <h6>Name : Calendars<br>Price : xxx</h6></a>
    </div>
    <div class=" col-lg-3 col-sm-6 col-xs-12 text-center text-xs-center">
      <a routerLink="/devoteeshop/dairy">
        <img src="assets/images/devotee shop/dairy.jpg" class="img img-thumbnail"></a>
        <a routerLink="/dairy">
                 <h6>Name : Dairy<br>Price : xxx</h6></a>
    </div>
    <div class=" col-lg-3 col-sm-6 col-xs-12 text-center text-xs-center">
      <a routerLink="/devoteeshop/gemstones">
        <img src="assets/images/devotee shop/gem.png" class="img img-thumbnail"></a>
        <a routerLink="/gemstones">
                 <h6>Name : Gemstones<br>Price : xxx</h6></a>
    </div>
  </div>
</div>



<!-- css -->
