
<div class="container body-container">
        <hr id="style">

        <!-- <div class="scrollmenu">
            <a routerLink="/astroservices/vasthuservice" >Vasthu</a>
            <a routerLink="/astroservices/reiki">Reiki</a>
            <a routerLink="/astroservices/reiki">Palmistry</a>
        </div> -->

        <table class="table-responsive">
            <tr >
                <!-- <td class="pad"><a routerLink="/astroservices/horoscope" >Horoscope</a></td>
                <td class="pad"><a routerLink="/astroservices/astrology" >Astrology</a></td>
                <td class="pad"><a routerLink="/astroservices/numerology" >Numerology</a></td> -->
                <td class="pad"><a routerLink="/astroservices/vasthuservice" >Vasthu</a></td>
                <td class="pad"><a routerLink="/astroservices/reiki" >Reiki</a></td>
                <td class="pad"><a >Palmistry</a></td>
            </tr>
        
        </table>


        <!-- <div class="row" id="new1">
          <a routerLink="/horoscope/horoscope" >Horoscope</a>
          <a routerLink="/astrology" >Astrology</a>
          <a routerLink="/numerology" >Numerology</a>
          <a routerLink="/vasthu" >Vasthu</a>
          <a routerLink="/reiki" >Reiki</a>
          <a >Palmistry</a>
          
          </div> -->
          <hr id="style">

    <h4 id="hello">Hand Type</h4>
    <div class="row">
      <div class="col-md-8 col-xs-12 text-center text-xs-center" id="path1">
         <p>With Moon sitting pretty in Capricorn, you need to beware of certain powerful 
            authority figures that do not have your best interests in mind.Moon in Capricorn
            indicates a challenging day ahead. You must practice patience and try not
            to lose your calm.Moon in Capricorn impels you to sort out a misunderstanding 
            with a friend immediately, say astroYogi astrologers.Today you will be in a 
            mood to put pending plans into action. You will have little tolerance 
            for procrastination due to the presence of Moon in Capricorn  </p>
      </div>

      <div class="col-md-4 col-xs-12 text-center text-xs-center">
        <img src="assets/images/distr.jpg" class="rounded-circle" alt="Cinque Terre" id="path2">
      </div>
    </div>

    <h4 id="hello">Head Line</h4>
    <div class="row">
        <div class="col-md-3 col-xs-12 text-center text-xs-center">
            <div id="yogi">
            <img src="assets/images/Line1.jpg" class="rounded-circle" alt="Cinque Terre" id="path2">
            </div>
        </div>
  
        <div class="col-md-9 col-xs-12 text-center text-xs-center">
            <p>With Moon sitting pretty in Capricorn, you need to beware of certain powerful 
                authority figures that do not have your best interests in mind.Moon in Capricorn
                indicates a challenging day ahead. You must practice patience and try not
                to lose your calm.Moon in Capricorn impels you to sort out a misunderstanding 
                with a friend immediately, say astroYogi astrologers.Today you will be in a 
                mood to put pending plans into action. You will have little tolerance 
                for procrastination due to the presence of Moon in Capricorn  </p>
        </div>
      </div>

      <h4 id="hello">Heart Line</h4>
      <div class="row">
          <div class="col-md-8 col-xs-12 text-center text-xs-center" id="path1">
             <p>With Moon sitting pretty in Capricorn, you need to beware of certain powerful 
                authority figures that do not have your best interests in mind.Moon in Capricorn
                indicates a challenging day ahead. You must practice patience and try not
                to lose your calm.Moon in Capricorn impels you to sort out a misunderstanding 
                with a friend immediately, say astroYogi astrologers.Today you will be in a 
                mood to put pending plans into action. You will have little tolerance 
                for procrastination due to the presence of Moon in Capricorn  </p>
          </div>
    
          <div class="col-md-4 col-xs-12 text-center text-xs-center">
            <img src="assets/images/distr.jpg" class="rounded-circle" alt="Cinque Terre" id="path2">
          </div>
        </div>

        <h4 id="hello">Life Line</h4>
        <div class="row">
            <div class="col-md-3 col-xs-12 text-center text-xs-center">
                <div id="yogi">
                <img src="assets/images/distr.jpg" class="rounded-circle" alt="Cinque Terre" id="path2">
                </div>
            </div>
      
            <div class="col-md-9 col-xs-12 text-center text-xs-center">
                <p>With Moon sitting pretty in Capricorn, you need to beware of certain powerful 
                    authority figures that do not have your best interests in mind.Moon in Capricorn
                    indicates a challenging day ahead. You must practice patience and try not
                    to lose your calm.Moon in Capricorn impels you to sort out a misunderstanding 
                    with a friend immediately, say astroYogi astrologers.Today you will be in a 
                    mood to put pending plans into action. You will have little tolerance 
                    for procrastination due to the presence of Moon in Capricorn  </p>
            </div>
          </div>
</div>



<div class="container" id="say">
    <div class="row help help1 help2">
        <div class="col-md-6 col-lg-3 col-xs-12 text-center text-xs-center">
                <div class="flip-container">
					    <div class="flipper">
							<div class="front" id="wer">
							    <div class="logo" id="go">
							      	<img src="assets/images/yant.jpg" id="weight">
							    </div>
							    <div class="hello">
							      <p>BootstrapEden is a resource site for elegant .</p>
							  	</div>
								<!-- front content -->
							</div>


                            <div class="back" id="jk">
                            <p id="people">One of the ideas that serve as the foundation of palmistry is the fact that all people have different handprints. No two hands are the same."</p>
                            </div>
                        
						</div> 
				</div>
        </div>

        <div class="col-md-6 col-lg-3 col-xs-12 text-center text-xs-center">
                <div class="flip-container">
					    <div class="flipper">
							<div class="front" id="wer">
							    <div class="logo" id="go">
                                    <img src="assets/images/yant.jpg" id="weight">
							    </div>
							    <div class="hello">
							      <p>BootstrapEden is a resource site for elegant .</p>
							  	</div>
								<!-- front content -->
							</div>


                            <div class="back" id="jk">
                            <p id="people">One of the ideas that serve as the foundation of palmistry is the fact that all people have different handprints. No two hands are the same."</p>
                            </div>
                        
						</div>
				</div>
        </div>

        <div class="col-md-6 col-lg-3 col-xs-12 text-center text-xs-center">
                <div class="flip-container">
					    <div class="flipper">
							<div class="front" id="wer">
							    <div class="logo" id="go">
                                    <img src="assets/images/yant.jpg" id="weight">
							    </div>
							    <div class="hello">
							      <p>BootstrapEden is a resource site for elegant .</p>
							  	</div>
								<!-- front content -->
							</div>


                            <div class="back" id="jk">
                            <p id="people">One of the ideas that serve as the foundation of palmistry is the fact that all people have different handprints. No two hands are the same."</p>
                            </div>
                        
						</div>
				</div>
        </div>

        <div class="col-md-6 col-lg-3 col-xs-12 text-center text-xs-center">
                <div class="flip-container">
					    <div class="flipper">
							<div class="front" id="wer">
							    <div class="logo" id="go">
                                    <img src="assets/images/yant.jpg" id="weight">
							    </div>
							    <div class="hello">
							      <p>BootstrapEden is a resource site for elegant .</p>
							  	</div>
								<!-- front content -->
							</div>


                            <div class="back" id="jk">
                            <p id="people">One of the ideas that serve as the foundation of palmistry is the fact that all people have different handprints. No two hands are the same."</p>
                            </div>
                        
						</div>
				</div>           
        </div>

    </div>
</div>
