<div class="container-fluid body-container">
    <div id="demo" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
    <div class="carousel-item active">
    <a routerLink=""> <img src="assets/images/ca2.jpg" alt="Los Angeles"></a>
    </div>
    <div class="carousel-item">
    <a routerLink=""> <img src="assets/images/ca1.jpg" alt="Chicago"></a>
    </div>
    <div class="carousel-item">
    <a routerLink=""> <img src="assets/images/ca3.jpg" alt="New York"></a>
    </div>
    </div>
    </div>
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
    </a>
    </div>

    <div class="container">
    <h3 class="text-center" id="zod">About Us</h3>
    <p>Whether you're a zodiac beginner looking for a free birth chart or a pro searching for answers to life's toughest questions, we are here to help help1 you connect the dots - no matter your zodiac sign. Bursting with information on all the astrological signs, love compatibility info, free tarot readings, in-depth astrology reports and up-to-the-minute suggestions on how to harness that planetary power,Devotee World is your source for what's up, right now.</p>
    <p>Whether you're a zodiac beginner looking for a free birth chart or a pro searching for answers to life's toughest questions, we are here to help help1 you connect the dots - no matter your zodiac sign. Bursting with information on all the astrological signs, love compatibility info, free tarot readings, in-depth astrology reports and up-to-the-minute suggestions on how to harness that planetary power,Devotee World is your source for what's up, right now.</p>
    </div>
    <h3 class="text-center" id="zod">Know Your Horoscope</h3>
    <div class="container">
    <div class="row">
    <!-- Row1 sun sign zodaics -->
    <div class="col-md-2 col-lg-1 col-sm-4 col-xs-12 text-center text-xs-center"  >
    <a routerLink="/sign">  <img src="assets\images\1.png" alt="img2" class="ics"><br><h6 id="font"><b>Aries</b></h6></a> 
    </div>
    <div class="col-md-2 col-lg-1 col-sm-4 col-xs-12 text-center text-xs-center"  >
    <a routerLink="/sign">  <img src="assets\images\2.png" alt="img1" class="ics"><h6 id="font"><b>Taurus</b></h6></a>
    </div>
    <div class="col-md-2 col-lg-1 col-sm-4 col-xs-12 text-center text-xs-center"  >
    <a routerLink="/sign"> <img src="assets\images\3.png" alt="img1" class="ics"><h6 id="font"><b>Gemini</b></h6></a>
    </div>
    <div class="col-md-2 col-lg-1 col-sm-4 col-xs-12 text-center text-xs-center  "  >
    <a routerLink="/sign"><img src="assets\images\4.png" alt="img1" class="ics"><h6 id="font"><b>Cancer</b></h6></a>
    </div>
    <div class="col-md-2 col-lg-1 col-sm-4 col-xs-12 text-center text-xs-center "  >
    <a routerLink="/sign"> <img src="assets\images\5.png" alt="img1" class="ics"><h6 id="font"><b>Leo</b></h6></a>
    </div>
    <div class="col-md-2 col-lg-1 col-sm-4 col-xs-12 text-center text-xs-center  "  >
    <a routerLink="/sign"> <img src="assets\images\6.png" alt="img1" class="ics"><h6 id="font"><b>Virgo</b></h6></a>
    </div>
    <div class="col-md-2 col-lg-1 col-sm-4 col-xs-12 text-center text-xs-center  "  >
    <a routerLink="/sign">   <img src="assets\images\7.png" alt="img1" class="ics"><h6 id="font"><b>Libra</b></h6></a>
    </div>
    <div class="col-md-2 col-lg-1 col-sm-4 col-xs-12 text-center text-xs-center">
    <a routerLink="/sign">  <img src="assets\images\8.png" alt="img1" class="ics"><h6 id="font"><b> Scorpio</b></h6></a>
    </div>
    <div class="col-md-2 col-lg-1 col-sm-4 col-xs-12 text-center text-xs-center "  >
    <a routerLink="/sign"> <img src="assets\images\9.png" alt="img1" class="ics"><h6 id="font"><b>  &nbsp;Sagittarius</b></h6></a>
    </div>
    <div class="col-md-2 col-lg-1 col-sm-4 col-xs-12 text-center text-xs-center  "  >
    <a routerLink="/sign">  <img src="assets\images\10.png" alt="img1" class="ics"><h6 id="font"><b> &nbsp;Capricornus</b></h6></a>
    </div>
    <div class="col-md-2 col-lg-1 col-sm-4 col-xs-12 text-center text-xs-center"  >
    <a routerLink="/sign"> <img src="assets\images\11.png" alt="img1" class="ics"><h6 id="font"><b> &nbsp;Aquarius</b></h6></a>
    </div>
    <div class="col-md-2 col-lg-1 col-sm-4 col-xs-12 text-center text-xs-center "  >
    <a routerLink="/sign"> <img src="assets\images\12.png" alt="img1" class="ics"><h6 id="font"><b>Pisces</b></h6></a>
    </div>
    </div> 
    </div>



    <!-- zodaic signs -->
    <h3 class="text-center" id="zod">Know Your Daily , Weekly , Monthly and Yearly Horoscope</h3><br>
    <div class="container">
    <div class="space">
    <div class="row help help1">
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
    <div class="columns">
    <ul class="price">
    <li class="header" style="background-color:black">Daily</li>
    <li class="grey"><img src="assets/img/h1.jpg" class="img img-fluid"></li>
    <!-- <li>&#8377;5,600 / month</li> -->
    <li class="grey"><button type="button" class="btn btn-primary"  data-toggle="modal" data-target="#myModal">
    Subscribe
    </button>
    <!-- The Modal -->
    <div class="modal fade" id="myModal">
    <div class="modal-dialog">
    <div class="modal-content">
    <!-- Modal Header -->
    <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>
    <!-- Modal body -->
    <div class="modal-body">
    <!-- Body Content Start-->     
    <section>
    <div class="container"> 
    <div class="row">
    <div class="col-md-8" style="margin: auto;float: none;">
    <div class="uploadform">
    <form  name="form1">
    <!-- <h4>Enter your Details</h4> -->
    <div class="row">
    <div class="col-md-12">
    <label id="left">Name:</label>
    <div class="form-group">
    <input type="text" class="form-control" name="fname">
    </div>
    </div>

    <div class="col-md-12">
    <label id="left">Email:</label>
    <div class="form-group">
    <input type="text" class="form-control" name="email">
    </div>
    </div>
    </div>

    <div class="row">
    <div class="col-md-12">
    <label id="left1">Services:</label>
    <select class="form-control" id="bus">
    <option value="">Select Your Service</option>
    <option value="1">Horoscope</option>
    <option value="3">Astrology</option>
    <option value="2">Numerology</option>
    </select>
    </div>
    </div>

    <div class="col-md-12 b1">
    <div class="form-group"> 
    <input type="submit" class="btn btn-primary">
    </div> 
    </div>
    </form>
    </div>
    </div>
    </div>
    </div>
    </section>
    <!-- Body Content end-->
    </div>

    <!-- Modal footer -->
    <!-- <div class="modal-footer" style="background-color: #fff;">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    </div>
    -->
    </div>
    </div>
    </div>
    </li>
    </ul>
    </div>
    </div>


    <div class=" col-lg-3 col-md-3 col-sm-6 col-xs-6">
    <div class="columns">
    <ul class="price">
    <li class="header" style="background-color:black">Weekly</li>
    <li class="grey"><img src="assets/img/h1.jpg" class="img img-fluid"></li>
    <!-- <li>&#8377;2,800 / month</li> -->
    <li class="grey">
    <button type="button" class="btn btn-primary"  data-toggle="modal" data-target="#myModal">
    Subscribe
    </button>
    <!-- The Modal -->
    <div class="modal fade" id="myModal">
    <div class="modal-dialog">
    <div class="modal-content">

    <!-- Modal Header -->
    <div class="modal-header">

    <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>

    <!-- Modal body -->
    <div class="modal-body">

    <!-- Body Content Start-->     
    <section>
    <div class="container"> 
    <div class="row">
    <div class="col-md-8" style="margin: auto;float: none;">
    <div class="uploadform">
    <form  name="form1">

    <!-- <h4>Enter your Details</h4> -->

    <div class="row">
    <div class="col-md-12">
    <label id="left">Name:</label>
    <div class="form-group">
    <input type="text" class="form-control" name="fname">
    </div>
    </div>

    <div class="col-md-12">
    <label id="left">Email:</label>
    <div class="form-group">
    <input type="text" class="form-control" name="email">
    </div>
    </div>
    </div>
    <div class="row">
    <div class="col-md-12">

    <label id="left1">Services:</label>
    <select class="form-control" id="bus">
    <option value="">Select Your Service</option>
    <option value="1">Horoscope</option>
    <option value="3">Astrology</option>
    <option value="2">Numerology</option>

    </select>

    </div>
    </div>

    <div class="col-md-12 b1">
    <div class="form-group"> 
    <input type="submit" class="btn btn-primary">
    </div> 
    </div>

    </form>
    </div>
    </div>
    </div>
    </div>
    </section>
    <!-- Body Content end-->
    </div>

    <!-- Modal footer -->
    <!-- <div class="modal-footer" style="background-color: #fff;">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    </div>
    -->
    </div>
    </div>
    </div>
    </li>
    </ul>
    </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
    <div class="columns">
    <ul class="price">
    <li class="header" style="background-color:black">Monthly</li>
    <li class="grey"><img src="assets/img/h1.jpg" class="img img-fluid"></li>
    <!-- <li>&#8377;4,200 / month</li> -->
    <li class="grey"><button type="button" class="btn btn-primary"  data-toggle="modal" data-target="#myModal">
    Subscribe
    </button>


    <!-- The Modal -->
    <div class="modal fade" id="myModal">
    <div class="modal-dialog">
    <div class="modal-content">

    <!-- Modal Header -->
    <div class="modal-header">

    <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>

    <!-- Modal body -->
    <div class="modal-body">

    <!-- Body Content Start-->     
    <section>
    <div class="container"> 
    <div class="row">
    <div class="col-md-8" style="margin: auto;float: none;">
    <div class="uploadform">
    <form  name="form1">

    <!-- <h4>Enter your Details</h4> -->

    <div class="row">
    <div class="col-md-12">
    <label id="left">Name:</label>
    <div class="form-group">
    <input type="text" class="form-control" name="fname">
    </div>
    </div>

    <div class="col-md-12">
    <label id="left">Email:</label>
    <div class="form-group">
    <input type="text" class="form-control" name="email">
    </div>
    </div>
    </div>

    <div class="row">
    <div class="col-md-12">
    <label id="left1">Services:</label>
    <select class="form-control" id="bus">
    <option value="">Select Your Service</option>
    <option value="1">Horoscope</option>
    <option value="3">Astrology</option>
    <option value="2">Numerology</option>
    </select>
    </div>
    </div>


    <div class="col-md-12 b1">
    <div class="form-group"> 
    <input type="submit" class="btn btn-primary">
    </div> 
    </div>
    </form>
    </div>
    </div>
    </div>
    </div>
    </section>
    <!-- Body Content end-->
    </div>

    <!-- Modal footer -->
    <!-- <div class="modal-footer" style="background-color: #fff;">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    </div>
    -->
    </div>
    </div>
    </div></li>
    </ul>
    </div>
    </div>

    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
    <div class="columns">
    <ul class="price">
    <li class="header" style="background-color:black">Yearly</li>
    <li class="grey"><img src="assets/img/h1.jpg" class="img img-fluid"></li>
    <!-- <li>&#8377;5,600 / month</li> -->

    <li class="grey"><button type="button" class="btn btn-primary"  data-toggle="modal" data-target="#myModal">
    Subscribe
    </button>


    <!-- The Modal -->
    <div class="modal fade" id="myModal">
    <div class="modal-dialog">
    <div class="modal-content">

    <!-- Modal Header -->
    <div class="modal-header">

    <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>

    <!-- Modal body -->
    <div class="modal-body">

    <!-- Body Content Start-->     
    <section>
    <div class="container"> 
    <div class="row">
    <div class="col-md-8" style="margin: auto;float: none;">
    <div class="uploadform">
    <form  name="form1">

    <!-- <h4>Enter your Details</h4> -->

    <div class="row">
    <div class="col-md-12">
    <label id="left">Name:</label>
    <div class="form-group">
    <input type="text" class="form-control" name="fname">
    </div>
    </div>

    <div class="col-md-12">
    <label id="left">Email:</label>
    <div class="form-group">
    <input type="text" class="form-control" name="email">
    </div>
    </div>
    </div>

    <div class="row">
    <div class="col-md-12">

    <label id="left1">Services:</label>
    <select class="form-control" id="bus">
    <option value="">Select Your Service</option>
    <option value="1">Horoscope</option>
    <option value="3">Astrology</option>
    <option value="2">Numerology</option>
    <option value="4">Vasthu</option>
    <option value="5">Reiki</option>
    <option value="6">Palmistry</option>
    </select>

    </div>
    </div>                        
    <div class="col-md-12 b1">
    <div class="form-group"> 
    <input type="submit" class="btn btn-primary">
    </div> 
    </div>

    </form>
    </div>
    </div>
    </div>
    </div>
    </section>
    <!-- Body Content end-->
    </div>

    <!-- Modal footer -->
    <!-- <div class="modal-footer" style="background-color: #fff;">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    </div>
    -->
    </div>
    </div>
    </div></li>
    </ul>
    </div>
    </div>


    </div>
    </div>
    </div>







    <!-- Trending products -->

    <h3 class="text-center" id="zod"> Trending at Devotee World</h3>

    <div class="container">
    <div class="row" id="new">
    <div class="col-xl-3 col-lg-3 col-sm-6 col-xs-12 text-center text-xs-center">
    <a routerLink="/devoteeshop/rudhrakshas">              
    <img src="assets\images\rudrakshas\mukhi8.jpg" class="img-thumbnail"></a>
    <a routerLink="/rudhrakshas"><h6>Name : Rudhrakshas<br>Price : xxx</h6></a>
    </div>

    <div class="col-xl-3 col-lg-3 col-sm-6 col-xs-12 text-center text-xs-center">
    <a routerLink="/devoteeshop/yantras">             
    <img src="assets/images/devotee shop/yantra1.jpg" class="img-thumbnail"></a>
    <a routerLink="/yantras"><h6>Name : Yantras<br>Price : xxx</h6></a>
    </div>

    <div class="col-xl-3 col-lg-3 col-sm-6 col-xs-12 text-center text-xs-center">
    <a routerLink="/devoteeshop/shaligram">            
    <img src="assets\images\shaligram\shaligram1.jpg" class="img-thumbnail"></a>
    <a routerLink="/shaligram"><h6>Name : Shaligram<br>Price : xxx</h6></a>
    </div>

    <div class="col-xl-3 col-lg-3 col-sm-6 col-xs-12 text-center text-xs-center">
    <a routerLink="/devoteeshop/books"> 
    <img src="assets\images\dairy\dairy1.jpg" class="img-thumbnail"></a>
    <a routerLink="/books"><h6>Name : Dairy<br>Price : xxx</h6></a>
    </div>
    </div>
    </div>






      
