<div class="container body-container">
        <hr id="style">
        <div class="scrollmenu">
                <a routerLink="/onlinecourses/livelecturers" >Live Lectures</a>
                <a routerLink="/onlinecourses/learnatdevotee" >Learn At Devotee</a>
                <a routerLink="/onlinecourses/learnatdevotee">Content Access</a>
        </div>
        <!-- <table class="table-responsive">
            <tr >
                <td class="pad"><a routerLink="/onlinecourses/livelecturers" >Live Lectures</a></td>
                <td class="pad"><a routerLink="/onlinecourses/learnatdevotee" >Learn At Devotee</a></td>
                <td class="pad"> <a  >Content Access</a></td>
                
            </tr>
        
        </table> -->

        <!-- <div class="row">
            <a routerLink="/live" >Live Lectures</a>
            <a routerLink="/learn" >Learn At Devotee</a>
            <a  >Content Access</a>
          
        </div> -->
        
  <hr id="style">
    <h3 class="text-center" id="zod">Top Specializations</h3>
<div class="row">
    <div class="col-lg-3 col-sm-6 col-xs-6">
            <a routerLink="/astroservices/astrology"> 
        <img src="assets/images/top.jpg" class="img img-fluid">
        <h5 class="text-center" id="zod1">Astrology</h5>
        </a>
    </div>
    <div class="col-lg-3 col-sm-6 col-xs-6">
            <a routerLink="/astroservices/numerology"> 
        <img src="assets/images/top.jpg" class="img img-fluid">
        <h5 class="text-center" id="zod1">Numerology</h5></a>
    </div>
    <div class="col-lg-3 col-sm-6 col-xs-6">
            <a routerLink="/astroservices/reiki"> 
        <img src="assets/images/top.jpg" class="img img-fluid">
        <h5 class="text-center" id="zod1">Reiki</h5></a>
    </div>
    <div class="col-lg-3 col-sm-6 col-xs-6">
            <a routerLink="/astroservices/palmistry"> 
        <img src="assets/images/top.jpg" class="img img-fluid">
        <h5 class="text-center" id="zod1">Palmistry</h5></a>
    </div>
</div>
</div>


<div class="container">
        <h3 class="text-center" id="zod">Online Course Astrology Experts</h3>
    <div id="demo" class="carousel slide" data-ride="carousel">
            <ul class="carousel-indicators">
                    <li data-target="#demo" data-slide-to="0" class="active"></li>
                    <li data-target="#demo" data-slide-to="1"></li>
                    <li data-target="#demo" data-slide-to="2"></li>
                  </ul>
         
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="row">

                    <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12 text-center text-xs-center">
                        <a routerLink="/onlinecourses/content/contentaccess"> 
                    <img src="assets\images\dummy.png" class="img img-fluid"></a>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12 text-center text-xs-center" id="new1">
                        <a routerLink="/onlinecourses/content/contentaccess">
                                         Name
                                    <br> Experience
                                    <br> price
                                    <br>&#9733;&#9733;&#9733;&#9733;&#9734;
                                
                              </a>
                    </div>
        
                    <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12 text-center text-xs-center">
                            <a routerLink="/onlinecourses/content/contentaccess"> 
                    <img src="assets\images\dummy.png" class="img img-fluid">
                            </a>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12 text-center text-xs-center" id="new1">
                            <a routerLink="/onlinecourses/content/contentaccess"> 
                            Name
                                    <br> Experience
                                    <br> price
                                    <br>&#9733;&#9733;&#9733;&#9733;&#9734;
                             </a> 
                    </div>

                    <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12 text-center text-xs-center">
                            <a routerLink="/onlinecourses/content/contentaccess"> 
                    <img src="assets\images\dummy.png" class="img img-fluid">
                            </a>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12 text-center text-xs-center" id="new1">
                            <a routerLink="/onlinecourses/content/contentaccess"> 
                            Name
                                    <br> Experience
                                    <br> price
                                    <br>&#9733;&#9733;&#9733;&#9733;&#9734;
                             </a> 
                    </div>
         
                </div>
            </div>


            <div class="carousel-item">
                    <div class="row">
    
                        <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12 text-center text-xs-center">
                                <a routerLink="/onlinecourses/content/contentaccess"> 
                        <img src="assets\images\dummy.png" class="img img-fluid">
                        </a>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12 text-center text-xs-center" id="new1">
                                <a routerLink="/onlinecourses/content/contentaccess"> 
                                Name
                                        <br> Experience
                                        <br> price
                                        <br>&#9733;&#9733;&#9733;&#9733;&#9734;
                                  </a>
                        </div>
            
                        <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12 text-center text-xs-center">
                                <a routerLink="/onlinecourses/content/contentaccess"> 
                        <img src="assets\images\dummy.png" class="img img-fluid">
                        </a>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12 text-center text-xs-center" id="new1">
                                <a routerLink="/onlinecourses/content/contentaccess"> 
                                Name
                                        <br> Experience
                                        <br> price
                                        <br>&#9733;&#9733;&#9733;&#9733;&#9734;
                                 </a> 
                        </div>

                        <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12 text-center text-xs-center">
                                <a routerLink="/onlinecourses/content/contentaccess"> 
                        <img src="assets\images\dummy.png" class="img img-fluid">
                                </a>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12 text-center text-xs-center" id="new1">
                                <a routerLink="/onlinecourses/content/contentaccess"> 
                                Name
                                        <br> Experience
                                        <br> price
                                        <br>&#9733;&#9733;&#9733;&#9733;&#9734;
                                 </a> 
                        </div>
             
                    </div>
            </div>


            <div class="carousel-item">
                    <div class="row">
    
                        <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12 text-center text-xs-center">
                                <a routerLink="/onlinecourses/content/contentaccess"> 
                        <img src="assets\images\dummy.png" class="img img-fluid">
                        </a>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12 text-center text-xs-center" id="new1">
                                <a routerLink="/onlinecourses/content/contentaccess"> 
                                Name
                                        <br> Experience
                                        <br> price
                                        <br>&#9733;&#9733;&#9733;&#9733;&#9734;
                                  </a>
                        </div>
            
                        <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12 text-center text-xs-center">
                                <a routerLink="/onlinecourses/content/contentaccess"> 
                        <img src="assets\images\dummy.png" class="img img-fluid">
                        </a>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12 text-center text-xs-center" id="new1">
                                <a routerLink="/onlinecourses/content/contentaccess"> 
                                Name
                                        <br> Experience
                                        <br> price
                                        <br>&#9733;&#9733;&#9733;&#9733;&#9734;
                                 </a> 
                        </div>

                        <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12 text-center text-xs-center">
                                <a routerLink="/onlinecourses/content/contentaccess"> 
                        <img src="assets\images\dummy.png" class="img img-fluid">
                                </a>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12 text-center text-xs-center" id="new1">
                                <a routerLink="/onlinecourses/content/contentaccess"> 
                                Name
                                        <br> Experience
                                        <br> price
                                        <br>&#9733;&#9733;&#9733;&#9733;&#9734;
                                 </a> 
                        </div>
             
                    </div>
            </div>
            
        </div>
        
    </div> 
    <a class="carousel-control-prev" href="#demo" data-slide="prev" id="prev" >
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo" data-slide="next" id="next">
            <span class="carousel-control-next-icon"></span>
        </a>
    
</div>

    <section>
        <div class="container mydiv cour">
                <h3 class="text-center" id="zod">Content</h3>
            <div class="row">
                <div class="col-md-6 col-sm-12 col-lg-6 col-xs-12">
                    <img src="assets/images/Letter.jpg" class="rounded-circle " id="by">
                    <p class="place">To enrol best of engineers, computer and  
                        electronics graduates, Vector Institute is the only one institute 
                        that conducts campus-based entrance test All over India (25 cities)
                        in every three months.
                    </p>
                </div>
    
                <div class="col-md-6 col-sm-12 col-lg-6 col-xs-12">
                        <!-- <h3 class="text-center" id="zod">Learn</h3> -->
                        <div class="row help">
                            <div class="col-md-2">
                                
                            </div>
                    
                            <div class="col-md-8" id="hello">
                                <div class="uploadform">
                                    <form action="#">
                                        
                                            <div class="row" id="talk">
                                                <div class="col-md-12">
                                                      <div class="form-group">
                                                      <label>Full Name:</label>
                                                      <input type="text" class="form-control" required>
                                                      </div>
                                                </div>
                                            </div>
                    
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <label>Email Id:</label>
                                                    <div class="form-group">
                                                          <input type="email" class="form-control" required>       
                                                    </div>
                                                </div>
                                            </div>
                    
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <label>Mobile no:</label>
                                                    <div class="form-group">
                                                          <input type="text" class="form-control" required>       
                                                    </div>
                                                </div>
                                            </div>
                                            
                                            <div class="row">
                                            <div class="col-md-12">
                                                <!-- <div class="form-group" id="horo"> -->
                                                    <label id="bus">Services:</label>
                                                        <select class="form-control" id="bus">
                                                                <option value="">Select Your Service</option>
                                                                <option value="1">Horoscope</option>
                                                                <option value="3">Astrology</option>
                                                                <option value="2">Numerology</option>
                                                                <option value="4">Vasthu</option>
                                                                <option value="5">Reiki</option>
                                                                <option value="6">Palmistry</option>
                                                        </select>
                                                <!-- </div> -->
                                            </div>
                                            </div>
                    
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                          <label>Comments:</label>
                                                          <textarea class="form-control" cols="4" rows="2" required></textarea>
                                                    </div>
                                                </div>  
                                            </div>
                    
                                            <div class="row">
                                                <div class="col-md-12"> 
                                                    <div class="form-group" id="ui">
                                                          <input type="submit" class="btn btn-primary">
                                                    </div>
                                                </div>
                                            </div>
                                    </form>
                                </div>
                            </div>
                    
                            <!-- <div class="col-md-4">
                                
                            </div> -->
                    
                        </div>
                </div>
            </div>
        </div>
    </section>