<div class="container body-container">
    <hr id="style">
    <table class="table-responsive">
    <tr >
    <td class="pad"> <a>Vasthu</a></td>
    <td class="pad">  <a routerLink="/astroservices/reiki" >Reiki</a></td>
    <td class="pad"> <a routerLink="/astroservices/palmistry" >Palmistry</a></td>
    </tr>
    </table>
    <!-- <div class="scrollmenu">
        <a routerLink="/astroservices/vasthuservice" >Vasthu</a>
        <a routerLink="/astroservices/reiki">Reiki</a>
        <a routerLink="/astroservices/reiki">Palmistry</a>
    </div> -->
    <hr id="style">

        <h3 class="text-center" id="zod">Vasthu</h3>
    <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 text-center text-xs-center">
            <img src="assets/img/h5.jpg">
        </div>
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12 text-center text-xs-center">
            <p>Vastu Shashtra is an ancient and important aspect of architecture as per Indian science. It helps in designing the layout and constructions of buildings, homes, office spaces, schools etc., making it a congenial place or setting to work in and live at. It uses scientific techniques, keeping in mind the laws of nature, elements in our universe and energy fields to ensure enhancement in health, wealth, prosperity, success and happiness. </p>
        </div>
    </div>

    <h3 class="text-center" id="talk1">Services</h3>
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 text-center text-xs-center">
                <img src="assets/images/Vasthuservice/vasthu1.jpg" class="img img-thumbnail"><br>
                <h6>Vastu Analysis for Commercial Property </h6>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 text-center text-xs-center">
                <img src="assets/images/Vasthuservice/vasthu2.png" class="img img-thumbnail"><br>
                <h6>Resdential vastu services without any physical </h6>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 text-center text-xs-center">
                <img src="assets/images/Vasthuservice/vasthu3.jpg" class="img img-thumbnail"><br>
                <h6>Complete Vastu and Energy Analysis</h6>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 text-center text-xs-center">
                <img src="assets/images/Vasthuservice/vasthu4.jpg" class="img img-thumbnail"><br>
                <h6>Vastu Analysis for Residential Property </h6>
        </div>
    </div>

    <h3 class="text-center" id="talk1">Experts</h3>
        <!-- <div class="space"> -->
        <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12 text-center text-xs-center">
        <a routerLink="/astroservices/form" >
        <img src="assets/images/dummy.png" class="img-fluid">
        </a>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12 text-center text-xs-center">
        <a routerLink="/astroservices/form" >
        <img src="assets/images/dummy.png" class="img-fluid">
        </a>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12 text-center text-xs-center">
        <a routerLink="/astroservices/form" >    
        <img src="assets/images/dummy.png" class="img-fluid">
        </a>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12 text-center text-xs-center">
        <a routerLink="/astroservices/form" >    
        <img src="assets/images/dummy.png" class="img-fluid">
        </a>
        </div>
    </div>
</div>
