<div class="container body-container">

  <hr id="style">
  <table class="table-responsive">
  <tr >
  <td class="pad"> <a routerLink="/astroservices/vasthuservice">Vasthu</a></td>
  <td class="pad">  <a routerLink="/astroservices/reiki" >Reiki</a></td>
  <td class="pad"> <a routerLink="/astroservices/palmistry" >Palmistry</a></td>
  </tr>
  </table>
  <hr id="style">

  <h3 class="text-center" id="zod">What is Reiki?</h3>

  <div class="row">
      <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 text-center text-xs-center">
        <img src="assets/img/h6.jpg" class="img img-fluid">
      </div>
  
      <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 text-center text-xs-center" >
        <p>Reiki is the ancient art of transferring healing energy from a practitioner to a
          patient, also known as energy work or energy healing. 
          Reiki touch activates the recipient’s own healing abilities, 
          thus allowing for the restoration of his or her own physical and emotional wellbeing. 
          Reiki promotes relaxation and encourages physical, mental and emotional wellbeing.
          While reiki can be used to treat a wide array of physical and mental health concerns, 
          it is especially effective for alleviating stress, depression, anxiety and pain. 
          Noting the positive results of reiki treatments, many hospitals across the country 
          have expanded their services to offer energy work to their patients and staff.
            </p> 
      </div>
            
  </div><br><br>

  <div class="row">
      <div class="col-lg-3 col-sm-6 col-xs-12 text-center text-xs-center">
          <h4>How Reiki Works</h4>
          <img src="assets/img/reiki1.jpg" class="img img-fluid">
          <p style="text-align:justify;"> At the simplest, most obvious level, it appears that Reiki treatment helps 
              lessen the impact of stress, releasing tension from the entire system. 
              Not only does the person move toward his or her own unique balance in body.
              </p>
      </div>
      <div class="col-lg-3 col-sm-6 col-xs-12 text-center text-xs-center">
              <h4>What Reiki Does</h4>
              <img src="assets/img/reiki1.jpg" class="img img-fluid">
              <p style="text-align:justify;"> At the simplest, most obvious level, it appears that Reiki treatment helps 
                  lessen the impact of stress, releasing tension from the entire system. 
                  Not only does the person move toward his or her own unique balance in body.
                  </p>
          </div>
          <div class="col-lg-3 col-sm-6 col-xs-12 text-center text-xs-center">
                  <h4>Reiki Techniques</h4>
                  <img src="assets/img/reiki1.jpg" class="img img-fluid">
                  <p style="text-align:justify;"> At the simplest, most obvious level, it appears that Reiki treatment helps 
                      lessen the impact of stress, releasing tension from the entire system. 
                      Not only does the person move toward his or her own unique balance in body.
                      </p>
              </div>
              <div class="col-lg-3 col-sm-6 col-xs-12 text-center text-xs-center">
                      <h4>Reiki Related Other</h4>
                      <img src="assets/img/reiki1.jpg" class="img img-fluid">
                      <p style="text-align:justify;"> At the simplest, most obvious level, it appears that Reiki treatment helps 
                          lessen the impact of stress, releasing tension from the entire system. 
                          Not only does the person move toward his or her own unique balance in body.
                          </p>
                  </div>
  </div>

  <h3 class="text-center" id="zod">Reiki Services</h3>
  <div class="row">
      <!-- <div class="col-lg-2"></div> -->
      <div class="col-lg-6 col-xs-12 text-center text-xs-center"><B>Manage Health Conditions</B>
        <!-- <ul> -->
          <li><a routerLink="/astroservices/reiki/anxiety">Anxiety</a></li>
          
          <li><a routerLink="/astroservices/reiki/anxiety">Back Pain</a></li>
          
          <li><a routerLink="/astroservices/reiki/anxiety">Cancer</a></li>
          
          <li><a routerLink="/astroservices/reiki/anxiety">Child Birth</a></li>
        <!-- </ul> -->
      </div>
      <!-- <div class="col-lg-2"></div> -->
      <div class="col-lg-6 col-xs-12 text-center text-xs-center"><B>Try Holistics Practices</B>
          
          <li><a routerLink="/astroservices/reiki/anxiety">Yoga</a></li>
          
          <li><a routerLink="/astroservices/reiki/anxiety">Food As Medicine</a></li>
          
          <li><a routerLink="/astroservices/reiki/anxiety">Naturopathy</a></li>
          
          <li><a routerLink="/astroservices/reiki/anxiety">Healing Touch</a></li>
          
      </div>
  </div>

  </div>