<section class="body-container">
  <div class="container">
      <hr id="style">
      <div  class="scrollmenu">
        <a routerLink="/poojaservices/temple">Temple Pooja</a>
                <a routerLink="/poojaservices/commmunity">Community</a>
                <a routerLink="/poojaservices/location">Location</a>
    </div>
      <!-- <table class="table-responsive">
        <tr >
            <td class="pad">  <a routerLink="/temple" >Temple Pooja</a></td>
            <td class="pad">  <a routerLink="/commmunity" >Community Pooja</a></td>
            <td class="pad">  <a routerLink="/location">Location Pooja</a></td>
            
        </tr>
    
    </table> -->
        
      <!-- <div class="row">
          <a  >Temple Pooja</a>
          <a routerLink="/commmunity" >Community Pooja</a>
          <a routerLink="/location" >Temple Pooja</a>
        
      </div> -->
      
<hr id="style">
            <h2 class="text-center" id="set">Temples Pooja</h2>
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
              <div class="card" id="cour">
                <img class="card-img-top"  src="assets/images/t1.jpg" alt=" Image">
                <div class="card-block">
                  <h4 class="card-title text-center">Kanaka Durga Temple</h4>
                  <div >
                  <p>Universe is one of the beautiful creations of nature and 
                    everything stands alive only in the limelight of truth.</p>
                      </div>
                </div>
              </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
          <div class="card" id="cour">
          <img class="card-img-top"  src="assets/images/t2.jpg" alt=" Image">
          <div class="card-block">
            <h4 class="card-title text-center">Brihadeeswara Temple</h4>
            <div >
            <p>Universe is one of the beautiful creations of nature and 
              everything stands alive only in the limelight of truth.</p>
                </div>
          </div>
          </div>
        </div>

      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <div class="card" id="cour">
          <img class="card-img-top"  src="assets/images/t3.jpg" alt=" Image">
                <div class="card-block">
                  <h4 class="card-title text-center">Somnath Temple</h4>
                  <div >
                  <p>Universe is one of the beautiful creations of nature and 
                    everything stands alive only in the limelight of truth.</p>
                      </div>
                </div>
              </div>
          </div>
      </div>

            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
              <div class="card" id="cour">
              <img class="card-img-top"  src="assets/images/t4.png" alt=" Image">
              <div class="card-block">
                <h4 class="card-title text-center">Kedarnath Temple</h4>
                <div >
                <p>Universe is one of the beautiful creations of nature and 
                  everything stands alive only in the limelight of truth.</p>
                </div>
              </div>
            </div>
        </div>

          <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <div class="card" id="cour">
              <img class="card-img-top"  src="assets/images/t5.jpg" alt=" Image">
              <div class="card-block">
                <h4 class="card-title text-center">Rameshwaram Temple</h4>
                <div >
                <p>Universe is one of the beautiful creations of nature and 
                  everything stands alive only in the limelight of truth.</p>
                    </div>
              </div>
            </div>

          </div>

          <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                  
                                  
          <div class="card" id="cour">
              <img class="card-img-top"  src="assets/images/t6.jpg" alt=" Image">
              <div class="card-block">
                <h4 class="card-title text-center">Vaishno Devi Mandir</h4>
                <div>
                <p>Universe is one of the beautiful creations of nature and 
                  everything stands alive only in the limelight of truth.</p>
                    </div>
              </div>
            </div>
          </div>
      </div>
  </div>
</section>

<div class="container-fluid" id="contact">
  <div class="container">

        <p class="text-center" id="get">Get in Touch with us</p>
        
    <form>
        <div class="row" id="form">
                        
      <div class="col-md-6 col-sm-6 col-lg-6 col-xs-12 form-line">
          <div class="form-group">
                          
                          <label>Full Name:</label>
                        <input type="text" class="form-control" id="name" placeholder=" Enter Name">
                  
          </div>
          
          <div class="form-group">
                
                        <label>Email Id:</label>
            <input type="email" class="form-control" id="exampleInputEmail" placeholder=" Enter Email id">
              
                    </div>  
          <div class="form-group">
                    
                        <label>Mobile No:</label>
            <input type="tel" class="form-control" id="telephone" placeholder=" Enter 10-digit mobile no.">
            
                    </div>
          </div>
          
        <div class="col-md-6 col-sm-6 col-lg-6 col-xs-12">
                  
          <div class="form-group">
                              <label>Service:</label>
                              <select class="form-control">
                                <option>Select Your Service</option>
                                <option>Horoscope</option>
                                <option>Astrology</option>
                                <option>Numerology</option>
                                <option>Vasthu</option>
                                <option>Reiki</option>
                                <option>Palmistry</option>
                              </select>
                    </div>
                  

          <div class="form-group">
                      
                          <label for ="description">Comments:</label>
             <textarea  class="form-control" id="description" placeholder="Enter Your Message"></textarea>
                    
                      </div>
        
                    
                          <button type="button" class="btn btn-success submit">Submit</button>
                          
          </div>
      </div>
    </form>
</div>
</div>

