<div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 text-center text-xs-center ">
          <img src="assets/images/4c.jpg" class="img-fluid">
          <p>Golden Temple</p>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 text-center text-xs-center ">
        <img src="assets/images/4c.jpg" class="img-fluid">
        <p>Golden Temple</p>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 text-center text-xs-center ">
          <img src="assets/images/4c.jpg" class="img-fluid">
      <p>Temple</p>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 text-center text-xs-center ">
            <img src="assets/images/4c.jpg" class="img-fluid">
      <p>Temple</p>
          </div>
    </div>
  
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 text-center text-xs-center ">
            <img src="assets/images/4c.jpg" class="img-fluid">
            <p>Golden Temple</p>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 text-center text-xs-center ">
          <img src="assets/images/4c.jpg" class="img-fluid">
          <p>Golden Temple</p>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 text-center text-xs-center ">
            <img src="assets/images/4c.jpg" class="img-fluid">
        <p>Temple</p>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 text-center text-xs-center ">
              <img src="assets/images/4c.jpg" class="img-fluid">
        <p>Temple</p>
            </div>
      </div>
  </div>
  
  
  
  
    
     
      