<div class="container body-container" id="new">
    <hr id="style">
    <div class="row scrollmenu" id="new1">
      <a routerLink="/onlinecourses/content/contentaccess/astrocourse" id="space">Module 1</a>
      <a routerLink="/onlinecourses/content/contentaccess/numerocourse" id="space">Module 2</a>
      <a routerLink="/onlinecourses/content/contentaccess/reikicourse" id="space">Module 3</a>
      <a routerLink="/onlinecourses/content/contentaccess/palmcourse" id="space">Module 4</a>
      <a routerLink="/onlinecourses/content/contentaccess/vasthucourse" id="space">Module 5</a>
    </div>
  
    <hr id="style">
    <div class="col-lg-12 col-sm-12">
        
        <h2>Course1</h2>
<h3 class="text-center" id="zod">Astrology</h3>

<h5>Upcoming session: Jan 29</h5>

<h5>Commitment : 6 weeks of study, 6-8 hours/week</h5>
<h5>Subtitles : English</h5>
<h5>About the Course</h5>
<p>
Have you ever heard about such technologies as HDFS, MapReduce, Spark? Always wanted to  learn these new tools but missed concise starting material? Don’t miss this course either!
 
In this 6-week course you will:
- learn some basic technologies of th... more</p>
<p>
    Have you ever heard about such technologies as HDFS, MapReduce, Spark? Always wanted to  learn these new tools but missed concise starting material? Don’t miss this course either!
     
    In this 6-week course you will:
    - learn some basic technologies of th... more</p>
     
      <br>
     
        <h2>Course2</h2>
<h3 class="text-center" id="zod">Astrology</h3>

<h5>Upcoming session: Jan 29</h5>

<h5>Commitment : 6 weeks of study, 6-8 hours/week</h5>
<h5>Subtitles : English</h5>
<h5>About the Course</h5>
<p>
Have you ever heard about such technologies as HDFS, MapReduce, Spark? Always wanted to  learn these new tools but missed concise starting material? Don’t miss this course either!
 
In this 6-week course you will:
- learn some basic technologies of th... more</p>
<p>
    Have you ever heard about such technologies as HDFS, MapReduce, Spark? Always wanted to  learn these new tools but missed concise starting material? Don’t miss this course either!
     
    In this 6-week course you will:
    - learn some basic technologies of th... more</p>
    <br>       
       
        <h2>Course3</h2>
<h3 class="text-center" id="zod">Astrology</h3>

<h5>Upcoming session: Jan 29</h5>

<h5>Commitment : 6 weeks of study, 6-8 hours/week</h5>
<h5>Subtitles : English</h5>
<h5>About the Course</h5>
<p>
Have you ever heard about such technologies as HDFS, MapReduce, Spark? Always wanted to  learn these new tools but missed concise starting material? Don’t miss this course either!
 
In this 6-week course you will:
- learn some basic technologies of th... more</p>
<p>
    Have you ever heard about such technologies as HDFS, MapReduce, Spark? Always wanted to  learn these new tools but missed concise starting material? Don’t miss this course either!
     
    In this 6-week course you will:
    - learn some basic technologies of th... more</p>
     <br> 
        <h2>Course4</h2>
<h3 class="text-center" id="zod">Astrology</h3>

<h5>Upcoming session: Jan 29</h5>

<h5>Commitment : 6 weeks of study, 6-8 hours/week</h5>
<h5>Subtitles : English</h5>
<h5>About the Course</h5>
<p>
Have you ever heard about such technologies as HDFS, MapReduce, Spark? Always wanted to  learn these new tools but missed concise starting material? Don’t miss this course either!
 
In this 6-week course you will:
- learn some basic technologies of th... more</p>
<p>
    Have you ever heard about such technologies as HDFS, MapReduce, Spark? Always wanted to  learn these new tools but missed concise starting material? Don’t miss this course either!
     
    In this 6-week course you will:
    - learn some basic technologies of th... more</p>
      <br>
        <h2>Course5</h2>
<h3 class="text-center" id="zod">Astrology</h3>

<h5>Upcoming session: Jan 29</h5>

<h5>Commitment : 6 weeks of study, 6-8 hours/week</h5>
<h5>Subtitles : English</h5>
<h5>About the Course</h5>
<p>
Have you ever heard about such technologies as HDFS, MapReduce, Spark? Always wanted to  learn these new tools but missed concise starting material? Don’t miss this course either!
 
In this 6-week course you will:
- learn some basic technologies of th... more</p>
<p>
    Have you ever heard about such technologies as HDFS, MapReduce, Spark? Always wanted to  learn these new tools but missed concise starting material? Don’t miss this course either!
     
    In this 6-week course you will:
    - learn some basic technologies of th... more</p>
     
    </div>
  
  </div>



