



#ui{
    margin-left: 130px;
}
#talk{
    padding-top: 30px;
}

#hello{
    margin: auto;float: none;
}

#bus{
    margin-left: -15px;
    width: 105%;
    
}


#zod{
    margin-top: 50px;
    margin-bottom: 25px;
    /* font-family: 'Lobster', cursive;
font-family: 'Great Vibes', cursive;
font-family: 'Berkshire Swash', cursive; */

  }

  

  
 