<div class="container body-container">
  <h3 class="text-center" id="zod">Astro Services</h3>
  
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <p class="transmit">Sunday 29, September 1996, Astro was officially formerly known as "Philips ASTRO" it was officially launched by the digital video broadcasting – satellite form of the family variety light entertainment programme for general used three satellite channel used translated into Malay (Malaysian) on Astro Ria, Cantonese on Astro Wah Lai Toi and Tamil on Astro Vaanavil with an initial bouquet of twenty-two satellite television and five music radio used translated into English on Hitz was backed by Philips Electronics as Holland digital technology by the digital electronics.</p>
    </div>
  </div>

<div id="new">
  <!-- <div class="row" >
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 text-center text-xs-center text-center text-xs-center">
      <a routerLink="/horoscope/horoscope">
      <img src="assets/img/h2.jpg" class="img img-thumbnail">
      <h6>Horoscope</h6></a>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 text-center text-xs-center">
      <a routerLink="/astrology">
      <img src="assets/img/h1.jpg" class="img img-thumbnail">
      <h6>Astrology</h6></a>
   </div>

   <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 text-center text-xs-center">
      <a routerLink="/numerology">
      <img src="assets/img/h4.jpg" class="img img-thumbnail">
      <h6>Numerology</h6></a>
   </div>
  </div><br> -->

  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 text-center text-xs-center">
      <a routerLink="/astroservices/vasthuservice">
      <img src="assets/img/h5.jpg" class="img img-thumbnail">
      <h6>Vasthu</h6></a>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 text-center text-xs-center">
       <a routerLink="/astroservices/reiki">
       <img src="assets/img/h6.jpg" class="img img-thumbnail">
       <h6>Reiki</h6></a>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 text-center text-xs-center">
       <a routerLink="/astroservices/palmistry">
       <img src="assets/img/h7.jpg" class="img img-thumbnail">
       <h6>Palmistry</h6></a>
    </div>
  </div>
</div>
</div>
<br>

