<div id="section8" class="container body-container">

    <hr id="style">
    <div class="scrollmenu">
        <a routerLink="/poojaservices/temple">Temple Pooja</a>
        <a routerLink="/poojaservices/commmunity">Community</a>
        <a routerLink="/poojaservices/location">Location</a>
  </div>
<!-- 
    <table class="table-responsive">
        <tr >
            <td class="pad"> <a routerLink="/temple" >Temple Pooja</a></td>
            <td class="pad"> <a routerLink="/commmunity" >Community Pooja</a></td>
            <td class="pad"> <a routerLink="/location">Location Pooja</a></td>
            
        </tr>
    
    </table> -->
    
    <!-- <div class="row">
        <a routerLink="/temple" >Temple Pooja</a>
        <a  >Community Pooja</a>
        <a routerLink="/location" >Location Pooja</a>
      
    </div> -->
    
<hr id="style">

<p id="set">Community Pooja</p>

<div class="row" id="com">
<div class="col-md-4 class">


<div class="box">
<img src="assets/images/c1.jpg" alt="images" id="for">
<div class="caption" id="festival">
<h4 class="text-center">Pongal Festival</h4>
  <div class="text-center">
      <p>Durga Puja, also called Durgotsava, is an annual Hindu festival in the Indian subcontinent that reveres the goddess Durga.</p>
  </div>
</div>
</div>
</div>

<div class="col-md-4 class">

<div class="boxi">
<img src="assets/images/c3.jpg" alt="Nature" id="for">
<div class="caption" id="festival">
<h4 class="text-center">Vinayaka Chavithi Festival</h4>
  <div class="text-center">
      <p>Durga Puja, also called Durgotsava, is an annual Hindu festival in the Indian subcontinent that reveres the goddess Durga.</p>
  </div>
</div>
</div>

</div>

<div class="col-md-4 class">
<div class="boxin">
<img src="assets/images/c2.jpg" alt="Fjords" id="for">
<div class="caption" id="festival">
<h4 class="text-center">Dussehra Festival</h4>
  <div class="text-center">
      <p>Durga Puja, also called Durgotsava, is an annual Hindu festival in the Indian subcontinent that reveres the goddess Durga.</p>
  </div>
</div>
</div>

</div>
</div>


<div class="row" id="com">
<div class="col-md-4 class">
<div class="box">
<img src="assets/images/c6.jpg" alt="Lights" id="for" style=" border:1px solid gray;">
<div class="caption" id="festival">
<h4 class="text-center">Ugadhi Festival</h4>
  <div class="text-center">
      <p>Durga Puja, also called Durgotsava, is an annual Hindu festival in the Indian subcontinent that reveres the goddess Durga.</p>
  </div>
</div>
</div>

</div>

<div class="col-md-4 class">
<div class="boxi">
<img src="assets/images/c7.jpg" alt="Nature" id="for">
<div class="caption" id="festival">
<h4 class="text-center">Diwali Festival</h4>
  <div class="text-center">
      <p>Durga Puja, also called Durgotsava, is an annual Hindu festival in the Indian subcontinent that reveres the goddess Durga.</p>
  </div>
</div>
</div>
</div>

<div class="col-md-4 class">
<div class="boxin">
<img src="assets/images/co1.jpg" alt="Fjords" id="for">
<div class="caption" id="festival">
<h4 class="text-center">Holi Festival</h4>
  <div class="text-center">
      <p>Durga Puja, also called Durgotsava, is an annual Hindu festival in the Indian subcontinent that reveres the goddess Durga.</p>
  </div>
</div>
</div>
</div>
</div>

</div>


<div class="container-fluid" id="contact">
<div class="container">

      <p class="text-center" id="get">Get in Touch with us</p>
      
  <form>
      <div class="row" id="form">
                      
    <div class="col-md-6 col-sm-6 col-lg-6 col-xs-12 form-line">
        <div class="form-group">
                        
                        <label>Full Name:</label>
                      <input type="text" class="form-control" id="name" placeholder=" Enter Name">
                
        </div>
        
        <div class="form-group">
              
                      <label>Email Id:</label>
          <input type="email" class="form-control" id="exampleInputEmail" placeholder=" Enter Email id">
            
                  </div>  
        <div class="form-group">
                  
                      <label>Mobile No:</label>
          <input type="tel" class="form-control" id="telephone" placeholder=" Enter 10-digit mobile no.">
          
                  </div>
        </div>
        
      <div class="col-md-6 col-sm-6 col-lg-6 col-xs-12">
                
        <div class="form-group">
                            <label>Service:</label>
                            <select class="form-control">
                              <option>Select Your Service</option>
                              <option>Horoscope</option>
                              <option>Astrology</option>
                              <option>Numerology</option>
                              <option>Vasthu</option>
                              <option>Reiki</option>
                              <option>Palmistry</option>
                            </select>
                  </div>
                

        <div class="form-group">
                    
                        <label for ="description">Comments:</label>
           <textarea  class="form-control" id="description" placeholder="Enter Your Message"></textarea>
                  
                    </div>
      
                  
                        <button type="button" class="btn btn-success submit">Submit</button>
                        
        </div>
    </div>
  </form>
</div>
</div>






<!-- css -->

